[2015-09-30 18:09] dhuppenkothen opened #1 "Add light curve method and write tests"
First item of work is to add the light curve and power spectrum classes and write appropriate tests for them.

[2015-10-12 00:26] dhuppenkothen opened #5 "First Release Plan"
If we really aim for a Jan 31 first release, I think it'd help us stay on track to have a plan for a minimal release, i.e. everything we'd like to have included in our first release.

Here's my list:
- make light curves
- make (& average) power spectra
- fit/sample power spectra with empirical models (power laws, Lorentzians, ...)
- make (& average) cross spectra, compute coherence and lags
- Timm

[2015-10-12 00:39] dhuppenkothen opened #6 "Coding guidelines?"
We should also decide on some coding guidelines, I think, to make our lives easier (and code more consistent).

Here are some questions we might want to answer, or some suggestions, all of which are up for discussion:
- follow astropy coding guidelines in general
- indentation is ONLY with spaces (four spaces, to be precise), and no tabs-and-spaces-mixing.
- follow a yet-to-be-decided subset of PE

[2015-10-17 19:55] dhuppenkothen opened #7 "Power spectrum or periodogram?"
How do we want to call that class? "Powerspectrum" or "Periodogram"?
I used to call it Powerspectrum, and have sort of convinced myself that "Periodogram" makes
more sense ("power spectrum" == the process that created what we see; "periodgram" == the realization of the process that was actually observed), but I could be convinced either way.
I guess power spectrum is the more commonly used term?

[2015-10-19 11:41] abigailStev commented on #5
For the cross spectra bullet point we'll need to compute coherence to get frequency lags and energy lags. I have code for this that we can adapt to suit. Otherwise, let's use your code to start with for power spectra!

[2015-10-19 11:44] abigailStev commented on #7
I know that "periodogram" is the official term, and we should acknowledge that in the documentation, but "power spectrum" is what it's called in astro, so to avoid confusion I think we should just go with that.

So, I vote "power spectrum"!

[2015-10-19 11:45] #7 closed

[2015-10-19 11:50] abigailStev commented on #6
Agreed on all! And, we should keep all code in the subdirectory "stingray", no more subdirectories for actual code.

[2015-10-19 13:10] dhuppenkothen commented on #5
Do we need the power spectral code to make frequency lags and energy lags and coherence? I don't really know. My power spectral code is *almost* ready to submit.
By the way, I've just made the last commit that I'll just commit straight to the repo. From now on, everything will go in as a pull request. :)

[2015-10-19 13:12] dhuppenkothen commented on #6
John has convinced me that the number of characters per line should be 80 characters, not 120. Any objections?

[2015-10-19 13:26] abigailStev commented on #6
Nope 80 is actually better, that's what I've set my pycharm to.

[2015-10-19 13:27] abigailStev commented on #5
We need cross-spectral code for lags and coherence. Cross spectra are mathematically very similar to power spectra, so I'll edit my cross spectral code to be in the same style as your power spectral code.

[2015-10-19 13:28] abigailStev commented on #5
Yay for pull requests 😄🌟

[2015-10-19 13:38] abigailStev commented on #6
(sorry I didn't catch that with my first comment)

[2015-10-19 13:38] abigailStev commented on #6
When I write line comments I tend to start them off with two # signs. Should we do this or no?

[2015-10-19 13:59] dhuppenkothen commented on #6
I generally do the same. Let's adopt this! Can you edit the original list above to add it?

Oh, also, comments should be reStructured Text, because this is what our documentation system (sphinx) supports. Can we adopt that? rst isn't really much harder to write than Markdown.

[2015-10-19 14:09] dhuppenkothen commented on #5
Do we want to have a couple of basic (ipython notebook?) tutorials as part of the first release?

[2015-10-19 14:28] abigailStev commented on #5
That's a good idea. I can work on that once your power spectral code is up, since it'll help me learn the ins and outs of your code! Do you have a preferred data set we should use?

[2015-10-19 14:28] abigailStev commented on #5
Sidenote: I think having FITS-file compatibility is really important, as well as (eventual) astroquery support (once astroquery methods are written for heasoft!).

[2015-10-19 14:30] abigailStev commented on #6
Done!

[2015-10-19 14:32] abigailStev commented on #1
👍

[2015-10-19 14:35] abigailStev commented on #5
I have an ipy nb for Timmer&Koenig that I can adapt to use the light curve class and power spectral code once it's all up there!

[2015-10-19 14:38] dhuppenkothen commented on #5
I don't really. It would be great to have a data set which we can use for multiple tutorials (i.e. power spectra, coherence/cross spectra, fitting Lorentzians, ...), if that happens. Probably some BHB in the low hard state with QPOs? I can probably find one that fits the bill from the GRS 1915+105 data set, but if you have one handy, I'm happy to go with that one.

FYI: I'll be writing a very basi

[2015-10-19 14:42] dhuppenkothen commented on #5
FITS compatibility: depends whether we are having data reading functionality *within* the package itself. My mental model was that we start with arrays of times/counts or times of arrival that people have already put into python and that they pass to the Lightcurve class (which can then be used in PSDs and stuff). I'd vote for keeping the main code as a library (i.e. without data reading capabilit

[2015-10-19 14:44] dhuppenkothen commented on #5
That would be awesome to have. I think I added T&K to the general list of "stuff that should be in the package". Not sure yet where it should go yet. Let's figure that out later. The notebook should definitely go in, however.

[2015-10-19 14:47] abigailStev commented on #5
The only one I really have (and have worked with) is GX 339--4 in the SIMS with the LF QPO. I'm open to either that or GRS 1915.

[2015-10-19 14:48] abigailStev commented on #5
Ok that sounds good to me. FITS i/o is done with astropy, which to me is fine to have as a dependency, but we can include that in just the tutorial ipy notebooks.

[2015-10-19 14:51] abigailStev commented on #5
It queries astronomical databases online and returns an astropy table of the data. It's pretty cool, but currently it doesn't support RXTE or XMM. I started working on a heasoft module with some other folks at PyAstro15, but it's gotten pushed to the side since then. So I guess, we should have astropy table support for the lightcurve class to allow for future astroquery compatibility.

[2015-10-19 15:21] dhuppenkothen commented on #5
Can you elaborate a bit on what you actually mean by having both astropy table support and FITS support in the Lightcurve class? I'm not entirely sure what that would look like.
Do you want to include a method that does something like read data from a file or from a database query and returns a Lightcurve?

[2015-10-19 15:39] abigailStev commented on #5
Nevermind about the FITS support, as you said we can demonstrate that in an ipy nb tutorial.

astropy table support means that the lightcurve class could receive as input an astropy table of events (or whatever) and make a lightcurve from that.

[2015-10-19 15:39] dhuppenkothen commented on #6
Perhaps another suggestion: variable names should never be single letters, except indices in loops and list comprehensions. This would avoid problems where we name a variable, say, "n" and then later loop over an index "n", and get lots of really annoying bugs that are hard to debug.

[2015-10-19 15:41] abigailStev commented on #6
Agreed. I added it above!

[2015-10-20 10:04] abigailStev commented on #5
I showed this to @philu74 -- he's on board to be a tester! And he also had a nice idea about saving everything as a data cube: fourier frequency vs energy channel and the reference band, with power spectrum, cross spectrum, and various noise levels.

[2015-10-20 13:02] dhuppenkothen commented on #5
Awesome. Re data cube: that's not a bad idea. It could be some kind of high-level function that computes a bunch of information and saves it in a pandas DataFrame or something similar.

[2015-10-28 13:25] dhuppenkothen commented on #6
Another point:
- python 2 or python 3?
Talking to several people who write software (e.g. @jdswinbank), I am now convinced that we should be writing python 3 now, which also means making sure all the tests work with python 3.
Comments?

[2015-10-28 13:55] abigailStev commented on #6
Yeah...we probably should be using python 3...

[2015-11-27 21:32] abigailStev opened #14 "Averaging power spectra"
We should average the power spectra *raw*, without any normalization.

[2015-11-27 21:33] abigailStev opened #15 "Absolute rms normalization"
Need to add absolute rms normalization for power spectra (and re-name current rms normalization to fractional rms normalization).

[2015-12-06 21:17] dhuppenkothen opened #16 "python 2.7 and 3.5 compatibility"
I ran nosetests using 3.5 today and found two major incompatibility errors in the code:

- the built-in function `xrange` does not exist in python 3. Instead, the function `range` (which creates a static list in python 2) works like `xrange` in python 3 (where it produces a generator instead). We could in principle replace `xrange` with `range` entirely, however, *if* someone uses python 2.7 and *

[2015-12-06 21:36] evandromr commented on #16
Hi,

What I usually do to write python2/3 compatible is to use the module [python-future](http://python-future.org/imports.html) to import the new builtin types and behavior, for example range, print() and division.

The imports change the behavior on python2 to be similar to python3, and it doesn't change anything if called from python3. The bad thing is having to add the future module to the dep

[2015-12-07 08:59] evandromr commented on #16
Hi,

A few comments:

 - I opened PR #18 to fix the `__defaults__` incompatibility.
 - I just noticed that python has now the modules `__future__` and `future_builtins` in the standard library. Unfortunately the `range` function is not included in any of them, but this is useful to know for future development. Maybe it would be a good practice to import everything and keep the code as python3-ish

[2015-12-07 15:11] evandromr opened #19 "Lightcurve.rebin and Powerspectrum.rebin return x, y with different lenghts"
`lc = old_lc.rebin(new_dt)` returns a new Lightcurve object with `lc.time` array one element longer than `lc.counts` (or `lc.countrate`).

`ps = old_ps.rebin(new_df)` returns a new Powerspectrum object with `ps.freq` array one element longer **or shorter** than `ps.ps`

Only with Powerspectrum.rebin I saw the result varying (i.e. `freq` is one element longer or shorter, depending on the binning fa

[2015-12-07 18:25] dhuppenkothen commented on #19
Yes, this is clearly a bug. Could you please post a code example so I can replicate the bug and see what is going wrong? Thanks for catching this!

[2015-12-08 10:11] evandromr commented on #19
Sure, I created a notebook. Here you go:

https://gist.github.com/evandromr/a86b780ad8b6ae7b9aa3

[2015-12-09 09:30] evandromr commented on #16
Actually, `xrange` is used in the `rebin_log` function of the `powerspectrum` module so my last comment above is not valid :no_mouth:

[2015-12-09 18:40] dhuppenkothen commented on #19
Hi,
I rewrote the way the time stamps (light curve) and frequency bins (power spectra) are calculated. I think this should fix things. It does for the code I tried it on, where I tried to reproduce your bug. Can you please check out the patch_rebin branch and see whether that fixes the bug for you?
Thanks!

[2015-12-10 06:04] evandromr commented on #19
It works for me :+1:

[2015-12-10 14:50] dhuppenkothen commented on #19
Awesome. I'll submit the pull request then and close this issue.

[2015-12-10 14:50] #19 closed

[2016-01-11 20:50] #1 closed

[2016-01-12 11:27] evandromr opened #23 "Uncertainties in Lightcurve and (Averaged) Powerspectrum"
Hi,

I believe it's important to implement atributes to store uncertainties in both lightcurve and powerspectra.

For light curve it can be easily done by calculating the square root, since it's Poisson distributed data.
(check the branch `patch_errors` in my fork for a very rushed implementation)

For powerspectrum It might depend on conventions. I believe the behavior of the HEASARC F-tool `pows

[2016-01-12 15:52] dhuppenkothen commented on #23
Yes, I agree, that's a great idea!

Since the light curve errors are straightforward, could you pack the changes into a pull request? I did a quick check of your branch compared to master, and it seems there are some other changes you made to the code? Unless there's a good reason for them, I'd rather not include them in this PR.

I think the 100% errors on the power spectrum come from the same re

[2016-01-14 08:54] evandromr commented on #23
I will clean the code and prepare a PR in the weekend.

And yes, I believe there is a way to calculate uncertainties from the powerspectra properties alone. I'm looking for more reading material on this and let you know if I find a solid reference.

[2016-01-14 16:01] evandromr commented on #23
I rebased my fork and created PR #24 to work on this issue

[2016-02-02 15:24] dhuppenkothen opened #27 "Cross Spectra"
We should include cross spectra ASAP for spectral timing capabilities. Ideally, the interface should be similar to that of Powerspectrum.

[2016-02-02 15:26] abigailStev commented on #27
I'm on it!

[2016-02-02 15:27] dhuppenkothen opened #28 "Pulsar methods"
This is for the future: for QPO studies, in the future implementing pulsar timing methods will be very useful. We should think in detail about which methods to include and how to best incorporate them.

Note: Matteo Bachetti tells me that there's some code in [MaLTPyNT](https://bitbucket.org/mbachett/maltpynt) that we might be able to port.

[2016-02-03 13:28] abigailStev commented on #15
Included this in co-spectra, but not yet included in power spectra.

[2016-02-03 13:28] #14 closed

[2016-02-04 04:43] evandromr commented on #16
Just to keep notice: tests functions and the new significance level method still uses `xrange` which does not exist in python 3.

[2016-02-04 09:44] matteobachetti commented on #28
Not in MaLTPyNT, but I do have it :)

[2016-02-04 10:38] evandromr commented on #28
Just to keep track of ideas: I liked the idea of phase-shifting as an alternative to the 'shift and add' technique. It would be nice if something like that could be implemented.

[2016-02-04 10:40] dhuppenkothen commented on #28
Just to keep track of another idea: I'd like to try to use image segmentation to track QPOs in the time-frequency domain. It's the kind of thing those methods should do really well on.

[2016-02-04 10:46] dhuppenkothen commented on #16
We should make a policy decision on whether we focus development on Python 2 or Python 3. I still mostly write Python 2, but I think astropy encourages Python 3 compatible development, which I think we should probably follow. Comments?

[2016-02-04 12:38] evandromr commented on #16
I'm trying to force myself to change to Python 3, and so far the only reason I was not completely able to was to interact with pyXspec or Sherpa. If this was a democracy I would vote for a Python 3 focus. :smile:

[2016-02-04 14:27] dhuppenkothen opened #30 "Dynamical Power Spectra"
We need dynamical power spectra!

[2016-02-04 15:07] matteobachetti commented on #16
Also on this page, things like `isinstance(norm, str)` are not compatible between Python 2 and 3. A possible solution is suggested here: http://stackoverflow.com/questions/11301138/how-to-check-if-variable-is-string-with-python-2-and-3-compatibility
[code]

Another way to do this might be using `string_types` from `six`, or create an `is_string` function. In MaLTPyNT, I do that as:
[code]

[2016-02-04 15:20] matteobachetti opened #32 "Do not assume a power-of-2 number of bins"
Modern FFT algorithms do not make the assumption of power-of-two bins. Whereas they are generally faster for power-of-two binning, they will work with any binning. This has some implications. First of all, we can allow input light curves to be of any length, and that's convenient in particular when memory is an issue; second, if we allow this, the frequency array in the PDS class has to be defined

[2016-02-04 16:01] dhuppenkothen commented on #32
I don't think that anywhere in the code it assumes power-of-two bins. All it does us use `scipy.fftpack.fft` for creating the power spectrum and then pick the real part up to the Nyqvist frequency.
Can you provide a minimal example of where the current implementation doesn't work? I just put in a light curve of length 1000 and it worked fine.

[2016-02-04 16:01] matteobachetti commented on #16
In general, a good reference is good ol'Astropy: https://astropy.readthedocs.org/en/latest/development/codeguide.html

[2016-02-04 16:11] dhuppenkothen commented on #30
Closing this issue; it was just an example and is a duplicate of pull request #26

[2016-02-04 16:11] #30 closed

[2016-02-04 16:13] matteobachetti commented on #16
Re the `xrange` vs `range` discussion: in my opinion, it's better to just use `range`. In Py3, it will use an iterator and usually execute a little faster (as it does'nt allocate a list). Since we are evolving towards Py3, the fact that Py2 is a little slower should not count too much.

[2016-02-04 16:21] matteobachetti commented on #32
Actually, I explained the issue incorrectly. The problem is that when you calculate the frequencies of the PDS, you use (in `make_powerspectrum`)
[code]
This is wrong for an odd number of bins. @abigailStev told me you took it for granted that a power of two would be used, but it's not written anywhere :)
Anyways, better to use `scipy.fftpack.fftfreq`, that gives the correct frequency array for an

[2016-02-04 16:30] matteobachetti commented on #32
This also implies that this:
[code]
should be properly treated without assuming that the fourier transform ends at half the `fourier` array. We should use `fftfreq` here too. Maybe at this point we might pass `dt` to the `fourier_transform` function and already return the frequency array together with the power spectrum.
Also, I think the name `fourier_transform` should really mean `fourier_transf

[2016-02-04 16:33] dhuppenkothen commented on #32
oh, okay, I understand now.

I agree with all of these things. In practice, are there cases where we do *not* want the modulus of the Fourier transform? If there aren't, we could rename the method. If there are, is it any use having a `fourier_transform` method at all, since it's only one line?

[2016-02-04 16:36] abigailStev commented on #32
I'd call it "fourier_modulus" if you want to keep it as a separate method. Or, no need to have it as a separate method IMO.

[2016-02-04 16:41] matteobachetti commented on #32
I started a pull request, with the most basic considerations above. I would prefer the name `fourier_modulus` for that particular function, just for better name consistency. We can then move the transform to another modulus if there is need to separate the two.

[2016-02-04 16:55] dhuppenkothen commented on #32
Looks good. So do we want to rename `_fourier_transform` to `_fourier_modulus`? I'm totally happy with that.

[2016-02-04 18:02] matteobachetti commented on #32
It seems that we all agree, so I will do the change. This can be changed back if for some reason at some point we don't like it anymore. Closing.

[2016-02-04 18:02] #32 closed

[2016-02-04 18:04] matteobachetti commented on #6
Coding guidelines for Astropy: http://docs.astropy.org/en/stable/development/codeguide.html
These are a great reference, also for the Python 3-2 compatibility issue.

[2016-02-05 09:18] matteobachetti commented on #27
A few comments:

+ We might think of having the Powerspectrum a special case of the Cross Spectrum

+ It seems to me that this code:

[code]
can be made *much* more compact. E.g.
[code]

[2016-02-05 09:23] matteobachetti opened #35 "Warnings and logging"
Let's use either the `logging` module or `astropy.log` for logging, and `warnings` for warnings. These models can handle very consistently, for example, the redirection of warnings to certain files or to an interface with the user, and handle autmoatically the level of verbosity. Much better than a simple `print`, at least. `print` should  be used sparingly for corner cases, but not for the bulk o

[2016-02-05 10:38] dhuppenkothen commented on #35
I agree. I generally use `print` statements for diagnostics in my code, and try to delete them before submitting pull requests, but sometimes I forget. In any case, let's use the astropy interface for compatibility.

[2016-02-05 10:40] dhuppenkothen commented on #27
I like the idea of merging `Powerspectrum` and `Crossspectrum` from the formal software development and minimizing duplication of code. We should, however, keep the API separate, so that the user doesn't have to call `Crossspectrum` to make a power spectrum, which might be confusing.

[2016-02-05 10:42] matteobachetti commented on #27
Agree.

[2016-02-05 10:44] abigailStev commented on #27
Noted! I'll work more on integrating the two (but keeping the separate
APIs).
On Feb 5, 2016 11:42, "Matteo Bachetti" <notifications@github.com> wrote:

[2016-02-05 10:45] dhuppenkothen commented on #16
I agree. Though we might want to supply a warning if the user supplies a very huge number to `range` in Py2 that it might be very slow/create memory problems?

[2016-02-05 10:46] dhuppenkothen commented on #27
One possibility would be to make `Powerspectrum` a subclass of `Crossspectrum` which only takes one light curve and then call `Crossspectrum`'s `__init__` with `lc1=input_lightcurve` and `lc2=None` or something like that.

[2016-02-05 10:48] dhuppenkothen commented on #16
I'm going to start working on making the code Py2 and Py3 compatible, unless someone else is already on that.

[2016-02-05 10:53] abigailStev commented on #27
Agreed, I had thought of that earlier today as well! And I'll make a test
of the cross spectrum for sending it the same light curve twice and getting
back the power spectrum.
On Feb 5, 2016 11:46, "Daniela Huppenkothen" <notifications@github.com>
wrote:

[2016-02-05 10:54] evandromr commented on #16
Great, can you also run it trough pep8 or other linter? My text editor, for example, always complain about the number of blank lines before classes or starting comments with `##` instead of `#`. I think it is a good idea to stick to pep8

[2016-02-05 10:58] dhuppenkothen commented on #16
Yes, I will do that, too.

[2016-02-05 10:58] matteobachetti commented on #16
Agreed. Astropy recommends following `pep8`, BTW.

[2016-02-05 14:09] matteobachetti commented on #35
Kicked off in PR  #36.

[2016-02-05 14:09] #35 closed

[2016-02-05 14:30] matteobachetti commented on #16
One major missing thing in Stingray is a ubiquitous use of the `__future__` functions.
At the very least, we should use
[code]
everywhere.

+ The print function has changed in Python 3. Whereas in the API I hope we'll not use `print`, in scripts it might be useful.

+ Division of an integer by an integer gives a float in Python 3, an integer in Python 2. Very subtle bugs come out of this in Python

[2016-02-05 14:37] dhuppenkothen commented on #16
That was the first thing I added. I need to tweak a little more before doing a pull request, but it's in the works.

[2016-02-05 15:38] matteobachetti commented on #28
I'm on it

[2016-02-06 14:53] matteobachetti commented on #28
@evandromr: First step in this direction. I added a way to measure the phase different between pulsed profiles and a template. This method is used for pulsars, but should roughly also work for QPO waveforms.

[2016-02-07 11:39] matteobachetti opened #41 "Move tests to subdirectory"
I think it would be better if the tests relevant to a module were in a `tests/` directory at the same path of the module. This will be particularly useful when the codebase will grow into more submodels.

[2016-03-02 07:49] OrkoHunter opened #43 "Travis-CI not enabled"
Hello Developers,

Tests must be run on every Pull Request before they are merged. I see a `.travis.yml` file in the repo but Travis did not run on #42. I think the integration is not done yet for this repository.

[2016-03-02 08:06] OrkoHunter opened #44 "Tests are failing"
Hi !

I ran `nosetests` from the root of the repository and the tests did not pass well. There were 12 failures. I am attaching the test report here.

https://gist.github.com/OrkoHunter/6caab4a7c6406dc5432d

[2016-03-02 09:10] matteobachetti commented on #43
Hi @OrkoHunter,
as you see, it's in the works. The plan is to rework the repository following the [Astropy template](https://github.com/astropy/package-template) and then make use of the [Astropy ci-helpers](https://github.com/astropy/ci-helpers) for this.

[2016-03-02 09:18] OrkoHunter commented on #43
Awesome ! Let's set up Travis now.
We can have a look at the build on my fork here.
https://travis-ci.org/OrkoHunter/stingray

[2016-03-02 09:23] evandromr commented on #43
I was just thinking if we should also rework the test suite to match astropy's py.test, instead of nosetests before tackling Issue #44

Thoughts?

[2016-03-02 09:27] OrkoHunter commented on #43
@evandromr `py.test` is a great test suite. But If we see some strong reasons to move away from `nosetests`, then we must move. Anything in particular?

PS. [`numpy.testing`](http://docs.scipy.org/doc/numpy/reference/routines.testing.html) is also famous in the SciPy community.

[2016-03-02 09:33] evandromr commented on #43
@OrkoHunter nothing in particular. Just thinking in long-term development, if we want to keep the structure and workflow close to Astropy's standard than it is better to make changes now, in the beginning, than later.
This would allow us, for example, to make stingray an affiliated Astropy package without much work. And new collaborators would have an already established documentation on how to co

[2016-03-02 09:34] OrkoHunter commented on #43
+1
If other devs agree, I am willing to help in the issue.

[2016-03-02 10:00] matteobachetti commented on #43
@evandromr thanks for pointing that out. Sticking to the astropy standard is a priority.

[2016-03-02 12:54] OrkoHunter commented on #16
Some comments from my side :

1) While we should prefer writing good Python 3 code, it is not very hard to keep supporting Python 2.7
2) Use of `__future__` module is always encouraged.
3) If there are situations when `range()` can create memory issues, we can either raise a warning, or add the following at the top of the module
[code]
4) Always use `list(range(X))` for generating list.

That's al

[2016-03-02 13:05] matteobachetti commented on #16
As I said above, a good reference is the Astropy's code guidelines: https://astropy.readthedocs.org/en/latest/development/codeguide.html

[2016-03-02 15:59] dhuppenkothen commented on #43
@OrkoHunter are you working on the travis integration? I've set up the repository access on Travis, but the build fails for various reasons. Would you be willing to help us getting that up and running?  My knowledge of Travis is pretty rudimentary, but I'm happy to help where I can.

Let's keep the changes to the testing module separate from this issue about Travis integration.

[2016-03-02 16:30] matteobachetti commented on #43
@dhuppenkothen @OrkoHunter I think this should go together with the astropy-like template and use Astropy's ci-helpers, in order not to duplicate the efforts.

I did that for [Maltpynt](http://github.com/matteobachetti/MaLTPyNT), and that was totally worth it. In that repo you can see the kind of formatting required for Travis and Appveyor, it is much slicker. Also ci-helpers deals with most softw

[2016-03-02 17:11] rohankatyal29 commented on #16
I checked for any dependencies that might be blocking the transition to python 3

<img width="688" alt="screen shot 2016-03-02 at 10 39 52 pm" src="https://cloud.githubusercontent.com/assets/2452426/13468249/cc51f6ce-e0c7-11e5-8098-55d52e5681e4.png">

Any suggestions on how to figure out which indirect dependencies are causing a problem?

[2016-03-02 18:36] dhuppenkothen commented on #16
You can remove emcee and corner from the .travis.yml file (for now). We might need it later, but it's not a requirement at the moment.

[2016-03-02 18:49] OrkoHunter commented on #43
@dhuppenkothen Yes, I'm okay to help setup Travis-CI. Would you mind running the tests locally for once? They failed for me (Ref #44 ). That would be great.
@matteobachetti Yes, we'll stick with how AstroPy does it. :)

[2016-03-02 19:53] dhuppenkothen commented on #44
Hi,

I tracked the failures down to commit 8429c2fd6c4b61bb1f19521bc7395a6c6c681374. @matteobachetti, I think it has something to do with the new definition of the frequencies. My frequency array started at df/2, whereas yours starts at df. I think in the current version, we *never* include the zeroth frequency in the power spectrum. Is that intended?

My inclination would be to keep the zeroth fr

[2016-03-02 20:10] matteobachetti commented on #44
Hi,
the zeroth frequency is usually unimportant for our uses (in Leahy normalization, it just gives the total number of photons), but we can decide to leave it, I don't have strong opinions. We will need to take the zeroth bin out anyway for fitting and rebinning.
re. the frequency array: `fftfreq` is using the center of the bin, and is designed to give the right frequency corresponding to the spe

[2016-03-02 20:13] dhuppenkothen commented on #44
I don't mind, either, but we should make a decision, so let's just decide to take it out.
I'll check what's going on with the tests in this case.

[2016-03-03 13:54] OrkoHunter commented on #43
Enabled in #52.

[2016-03-03 13:54] #43 closed

[2016-03-04 10:55] matteobachetti opened #54 "Docs with Sphinx are not compiling on Travis"
This is the error message:
[code]

Should be easy to cope with this.

[2016-03-04 10:58] matteobachetti opened #55 "Setup documentation on readthedocs"
[http://readthedocs-test.readthedocs.org/en/latest/instructions.html](Some instructions here)

[2016-03-04 11:13] matteobachetti opened #56 "Implement read and write functionalities in all classes"
`Lightcurve`, `Powerspectrum`, `Eventlist`, etc. objects should have a way to be read and written with no loss of information. Preferably, using directly a high-performance file format such as HDF5. We might start with the simpler `pickle`

[2016-03-04 11:14] matteobachetti opened #57 "Porting MaLPyNT as scripts"
# Porting `MaLTPyNT` as scripts

To start the merge between `MaLTPyNT` and `Stingray`'s, I suggest to start porting MaLTPyNT in the same codebase, but as a separate package called `scripts`.

Then, before starting with the full merge, I would put the following priorities:
1. Make `MaLTPyNT`'s tests work on Travis CI form `Stingray`'s codebase
2. Make `MaLTPyNT`'s docs merge with Stingray's

Then,

[2016-03-04 13:31] #41 closed

[2016-03-04 13:34] matteobachetti commented on #44
@OrkoHunter @dhuppenkothen This is now obsolete. Closing!

[2016-03-04 13:34] #44 closed

[2016-03-04 14:11] OrkoHunter commented on #55
I'd like to help with this.

[2016-03-04 14:31] OrkoHunter commented on #55
It says that the project name "stingray" is already there. I'll build one for my fork then.

[2016-03-04 15:02] OrkoHunter commented on #55
It looks like @dhuppenkothen had created it. https://readthedocs.org/projects/stingray/

[2016-03-04 15:16] #54 closed

[2016-03-04 16:57] matteobachetti commented on #55
@OrkoHunter yes, but this was before she changed the ownership to the new organization.

[2016-03-04 17:00] dhuppenkothen commented on #55
@matteobachetti @OrkoHunter Just changed it to the new repository.

[2016-03-04 17:02] dhuppenkothen commented on #55
I think I can add one or both of you as maintainers on readthedocs, if that's helpful?

[2016-03-06 04:54] akankshaakanksha commented on #56
Hello,
I want to work on this issue and get started contributing to stingray. I have a doubt.
We can easily add methods to the objects which would achieve the functionality.
When we say read and write do we need to write and read the object data from a file? If yes, where should this file be created. What are the applications of the read and write method?
Thanks
Akanksha

[2016-03-06 05:22] usmanwardag commented on #56
@akankshaakanksha I think what is being referred to here is to serialize and de-serialize these objects, which means converting the object hierarchy into byte stream and vice versa.

@matteobachetti I agree `pickle` would be a simpler option to start with. We can create a couple of python functions that convert any class object to byte data and byte data to class objects respectively. These functi

[2016-03-06 13:54] matteobachetti commented on #56
@akankshaakanksha, the idea is just to be able to save the work done, and restore it. For example, we created a `Lightcurve` and we want to save it and re-load it later. So, yes, we need to write to a file and restore the object *exactly* as it was before.

@usmanwardag if you know how to do this in a platform- and version-independent way, feel free to do it! Just keep in mind that people might wa

[2016-03-06 13:56] usmanwardag commented on #56
@matteobachetti I have done that. Please check the pull request #62

[2016-03-06 23:57] matteobachetti commented on #55
I think it doesn't compile on RTD because of this:
http://blog.rtwilson.com/how-to-make-your-sphinx-documentation-compile-with-readthedocs-when-youre-using-numpy-and-scipy/

[2016-03-07 09:12] OrkoHunter commented on #55
There's another solution for this. Readthedocs does not allow installation of any C libraries. But they already have numpy, scipy and matplotlib installed as system packages. We just need to go to Advanced Settings -> Enable system packages.

I was able to do it here -> http://orkohunter-stingray.readthedocs.org/en/latest/

@dhuppenkothen That would help, thanks.

[2016-03-07 10:13] OrkoHunter commented on #55
Also, can we please use the popular [`sphinx_rtd_theme`](http://docs.readthedocs.org/en/latest/theme.html) ? It looks very good and widely adopted.

[2016-03-07 10:18] matteobachetti commented on #55
I would prefer the Astropy template actually :).
re. Astropy, we have to take out the  "This is an Astropy affiliated package", for the time being

[2016-03-07 10:21] OrkoHunter commented on #55
@matteobachetti The AstroPy one looks good too. Sorry I didn't see that. May I send a patch regarding the doc changes?

[2016-03-07 10:31] matteobachetti commented on #55
Of course!

[2016-03-07 11:01] OrkoHunter commented on #55
On a side note, I am unable to relate the description "Time Series Methods For Astronomical X-ray Data" and the name of library, while the [logo](https://avatars1.githubusercontent.com/u/17048750?v=3&s=200) and the name looks related to each other. @matteobachetti @dhuppenkothen Comments?

[2016-03-07 12:22] nithinsingh61 commented on #55
My thoughts : Given no symmetry it not frequency spectra , Upper half can be representing time series of our signal under examination .Which goes hand in hand with general x ray samples (white border representing   data under examination  )
Stingray : May just be an mascot

[2016-03-07 15:58] evandromr commented on #6
I would like to point out a few discrepancies between pep8 and this coding guidelines:

 - Line comments should start with one '#' and not two.
 - Maximum line length should be 79 and not 80 (I was surprised by this one)

And another thing to consider based on recent discussion on issues,
  - If we want to be Astropy-compliant we should make sure that tests works with `pytest` instead of `nosetest

[2016-03-07 16:07] matteobachetti commented on #6
Hi Evandro,
We already switched from nose to pytest :)

Now we are following the Astropy guidelines, so all substitutions you mention are being applied in all new code. They are a requirement, but not with high priority, for old code too (we will find a moment to make the few adjustments needed).

[2016-03-07 16:38] dhuppenkothen opened #67 "Make package pip-installable"
Is the package installable? Relatedly, it should probably at some point also go on the python package index. This might become important if we want to get help from astronomers in terms of testing new code.

[2016-03-07 16:50] matteobachetti commented on #67
Definitely agree, but it seems in an early stage. In my opinion, the ideal time will be after completing the merge with MaLTPyNT, when we have at least a working set of scripts for the full basic analysis

[2016-03-07 16:57] dhuppenkothen commented on #55
@OrkoHunter The connection is pretty tenuous, but I don't think it's a requirement that the name reflects the description. The logo actually relates the shape of the stingray to the shape of a power spectrum typically observed in X-ray astronomy, so there's *some* connection.

[2016-03-07 18:30] dhuppenkothen commented on #67
I don't think it has to be as late as when all the scripts are there. I think we could have people install it when we're fairly happy with the classes themselves and ask them to try out specific functionality. This is especially true for things that I at least am not an expert in like bispectra and covariance spectra.

[2016-03-07 18:31] dhuppenkothen commented on #67
But yes, this is more generally a reminder not to forget to do it.

[2016-03-07 18:49] OrkoHunter commented on #55
Awesome ! :)

@dhuppenkothen Btw., did you configure the readthedocs settings? Or you can add me there. My username is the same as on GitHub but in lower case, i.e. `orkohunter`.

[2016-03-07 20:38] evandromr commented on #67
"python setup.py install" worked fine for me. Using latest stable anaconda distribution

[2016-03-07 20:41] evandromr commented on #67
Btw, another reminder.. if we can make it pip installable would also be nice to make it conda installable, even if needed to refere to the conda channel manually (like the [Sherpa stand-alone package](http://cxc.harvard.edu/contrib/sherpa/) )

[2016-03-07 22:55] rgp100 commented on #67
Making a package pip installable is a fairly straight forward process described pretty thoroughly [described here](http://marthall.github.io/blog/how-to-package-a-python-app/).

Conda also seems to be [relatively painless.](http://conda.pydata.org/docs/build_tutorials/pkgs.html).  I'd be happy to do this.

[2016-03-07 23:41] dhuppenkothen commented on #6
With my magical GitHub time machine I've updated the original guidelines. :)

[2016-03-08 02:20] jadd22 commented on #67
@rgp100 the link you send will register on PyPI, better way will be [this ](http://skipperkongen.dk/2012/05/02/publish-python-on-pypi/)

[2016-03-08 02:30] rgp100 commented on #67
Ah Yes!  Good Catch!

[2016-03-08 04:09] OrkoHunter commented on #6
@dhuppenkothen I believe we can add a "Developer Workflow" to the repository, once we have finalized this issue (which I think is done).

[2016-03-08 04:17] OrkoHunter commented on #55
We're up now !
http://stingray.readthedocs.org/
Or
http://stingray.rtfd.org/

[2016-03-08 05:30] OrkoHunter opened #69 "Examples of existing classes and methods"
The current implementations of classes and methods do not have examples for them. While this can be a long term process, we can start by
- Writing examples in the docstrings and getting them tested by doctests.
- Have a tutorial page in documentation which may act like a `user_guide`.
- Have a `notebooks` repository in the organization, cross referenced, which contains numerous examples in the for

[2016-03-09 02:03] analyticalmonk opened #70 "Specify versions in requirements.txt"
A trivial issue but this could come in handy nevertheless.
We can decide on and specify the (specific or lowest) versions of the required packages. This would help avoid ambiguity during setup and potential compatibility issues.

[2016-03-09 07:22] matteobachetti commented on #70
Hi @analyticalmonk, thanks for spotting this.
We could start with the versions that surely work on Travis CI.

[2016-03-09 11:14] AbhishekKumarSingh opened #73 "Remove unused imported modules from setup.py"
ah_bootstrap and adjust_compilers have been imported in setup.py but never used. It should be removed.

[2016-03-09 13:38] OrkoHunter commented on #55
I think this can be closed now.

[2016-03-09 16:08] matteobachetti commented on #55
Yep. Thanks! (Sorry, I'm traveling)

[2016-03-09 16:09] #55 closed

[2016-03-09 17:03] dhuppenkothen commented on #69
I think we should probably have all three.

I'd vote to have at least one example per class/method where that makes sense (it might not make sense to have examples for helper functions), i.e. code that is directly exposed to the user.

The documentation should expand on that and walk you through how you'd use these classes and methods.

I think notebooks should be for actual tutorials of the type

[2016-03-09 17:05] dhuppenkothen commented on #6
@OrkoHunter this is a good idea.

I have one more thing to discuss: `notebooks`.
I've made the experience that committing notebooks can blow up the repository in terms of space, especially when they contain figures etc. Any good strategies to avoid that from happening?

[2016-03-09 17:05] matteobachetti commented on #73
`ah_bootstrap` is an important part of the Astropy machinery, I don't know about adjust_compilers. I should check the docs.

[2016-03-09 17:11] OrkoHunter commented on #6
@dhuppenkothen My suggestion would be to have a repository named `notebooks` on GitHub and put all (as much possible) examples, IPython notebooks and resources in the repository. New users can also push there own experimental results in the repository. What do you think?

[2016-03-09 17:14] dhuppenkothen commented on #73
We can always comment them out and leave them in case we might need them in the future?

[2016-03-09 17:18] matteobachetti commented on #73
From the docs:

    astropy_helpers includes a special "bootstrap" module called ah_bootstrap.py which is
    intended to be used by a project's setup.py in order to ensure that the astropy_helpers
    package is available for build/installation. This is similar to the ez_setup.py module that
    is shipped with some projects to bootstrap setuptools.

[2016-03-09 17:20] matteobachetti commented on #73
So, when you import it you are using it, even if it seems that it's imported for nothing. I'd suggest to not change the parts that are included as a template, because their workings might not be immediately evident.

[2016-03-09 17:26] matteobachetti commented on #6
I agree with the external repository, maybe with a script in this repository to download the data.
The notebooks would not need to be under source control

[2016-03-09 18:26] OrkoHunter commented on #67
I think there's no issue here. If the package is installable with
[code]
or
[code]
, I think it's easily packagable.

You can run
[code]
or
[code]
and see the distributions yourself, which later on get uploaded on pypi.

[2016-03-09 19:06] dhuppenkothen commented on #67
Good to know. We should put that into the readme!

[2016-03-09 19:07] OrkoHunter commented on #67
Sure ! I'll send a PR considering README changes.

[2016-03-09 19:08] AbhishekKumarSingh commented on #73
@matteobachetti : I see. BTW, I haven't removed it. I had a doubt so posted it as issue. Thanks for clarification.

[2016-03-09 19:17] matteobachetti commented on #73
Sure, no problem. This wasn't very obvious at a first sight, thanks for bringing this up.

[2016-03-09 22:31] jadd22 commented on #73
@matteobachetti adjust_compiler is used to detect broken compiler. If it found one,it will change compiler with other version.

[2016-03-10 07:23] usmanwardag opened #75 "Add a 'dataset' module"
I propose adding a `dataset` module that allows users to import sample light curves. I have located the data [here](http://minorplanetcenter.net/light_curve2/light_curve.php), which we can use freely. Maybe, we can start off by allowing users to import data of certain celestial bodies. Any suggestions?

[2016-03-10 07:28] OrkoHunter commented on #75
I think that's the general and best choice for storing sample data for testing/reproduction.

[code]

[2016-03-10 07:55] evandromr commented on #73
Looks like this issue can be closed

[2016-03-10 08:57] usmanwardag commented on #75
Ok, I am on it.

[2016-03-10 09:28] matteobachetti commented on #73
Done.

[2016-03-10 09:28] #73 closed

[2016-03-10 15:56] usmanwardag commented on #75
Suppose I have some light curve data and I want to convert it into a `lightcurve` object, how do I select appropriate bin width and count/bin? Are there any standard values?

[2016-03-10 22:17] dhuppenkothen opened #77 "Light curve should throw warning if the input data is not on regular grid"
I think when making a `Lightcurve` object the code should check whether the input array `time` defines bins of equal size all the way through, and throw a warning if it doesn't.

Many of the algorithms we define here depend critically on a regular time grid, so that not having one might make the results unpredictable. Hence it would be good to warn the user that they put in data that is unexpected

[2016-03-11 02:54] analyticalmonk commented on #77
@dhuppenkothen I have opened PR #78 to try and solve the above. Please check if it addresses the issue correctly.

[2016-03-12 08:21] OrkoHunter commented on #6
Where should we put the "Development Workflow" ? We can put it on a GitHub wiki page, or/and in Documentation. I can create a first draft.

[2016-03-12 08:27] analyticalmonk commented on #6
@OrkoHunter Adding a "Workflow" is a great idea.
To put my two cents, keep it on the wiki page as well as in the documentation would be a good way to go about it. Redirecting the developer to the wiki via the README should work well.

[2016-03-12 08:48] OrkoHunter opened #79 "Remove stale branches"
There are currently [19 branches in the repository](https://github.com/StingraySoftware/stingray/branches/all) and many of them have gone redundant now. So, I think it's good if we remove the useless ones.

Also, I don't understand why there is a branch named [`OrkoHunter-move_tests`](https://github.com/StingraySoftware/stingray/tree/OrkoHunter-move_tests) and similar others ? The user sent a PR,

[2016-03-12 08:57] matteobachetti commented on #79
@OrkoHunter they were created during weekends or when in your time zone was night to merge some urgent PRs with small modifications.

[2016-03-12 09:01] OrkoHunter commented on #79
Oh ! Got it.

[2016-03-12 09:20] matteobachetti commented on #79
BTW, yes, we should get rid of those!

[2016-03-12 09:23] OrkoHunter commented on #79
Sure :)

[2016-03-14 19:07] dhuppenkothen commented on #6
I vote for the wiki page for the developer workflow, too. I like the idea of redirecting from the README. There could also be a "How to contribute" section in the documentation at some point in the future.

[2016-03-15 13:34] evandromr opened #82 "Inconsistency in the results of the binning methods"
As far as I could understand:
 - On `powerspectrum._fourier_modulus` we are excluding the zeroth frequency (when doing `freqs[freqs > 0]`)
    + This means that the first element of the frequency array is supposed to be equal to the frequency resolution (`freqs[0] = df`).
    + This also means that the frequency array represent the _central value_ of each frequency bin.

- On a `Lightcurve` object

[2016-03-15 13:42] evandromr commented on #82
Another note:

 In the `Powerspectrum.rebin` method we are passing the arrays without the first component, which doesn't agree with the definition of `Powerpsectrum_fourier_modulus`. (This means that the first element of the frequency array being rebinned is 2*df)

But for some reason the `test_powerspectrum.test_rebin` passed when checking if the first frequency of the rebinned array is equal to

[2016-03-15 21:51] TomaszKolek opened #83 "Modify Readme - add link to doc and example of usage"
Hello, It's my first issue (proposal) for this project.
EDITED:
I found already http://stingray.readthedocs.org/index.html - is in GitHub repository URL to the documentation?
What do you think about creating more user friendly doc?

ORIGINAL:
What do you think about publishing documentation on GitHub pages and making a some CI Actions (I'd see you use TravisCi) to build documentation automatically

[2016-03-15 22:09] TomaszKolek opened #84 "Cloning - documentation improvement"
First thing I saw when I tried to build sphinx doc was:
[code]
Astropy helper is a git submodule and I think in Readme would be some info about it and how to clone submodules.

[2016-03-15 22:44] TomaszKolek commented on #84
PR #85 created, ready to review

[2016-03-15 23:15] OrkoHunter commented on #83
Hey @TomaszKolek !

Currently stingray is being build on [`readthedocs`](https://readthedocs.org/) which I think is not related to Travis CI. Using GitHub pages and having custom scripts to update the docs, used to be _the_ way of automatic builds on documentations. But if you see, readthedocs is already doing that for us. So, we just need to work on our repository and rtd would build the docs for

[2016-03-15 23:18] TomaszKolek commented on #83
@OrkoHunter You're right. I'd not seen readthedocs doc before I created issue.
So - maybe we should think about putting doc url into readme?

[2016-03-15 23:21] dhuppenkothen commented on #83
Yes, @TomaszKolek, having the URL in the readme would be useful.
Regarding more user friendly documentation: that's definitely something we need to do. I am in the process of writing a couple of tutorials in Jupyter Notebooks , but some of that should also end up in the documentation.

[2016-03-15 23:37] TomaszKolek opened #86 "Code cleaning/refactoring"
I'm looking through stingray's code and I saw some things I think we should avoid.

utils.py has 2 private methods which are used in io.py file
Not all imports are at the top of file
Sometimes between operators are spaces sometimes not:
`1+2` vs `1 + 2`
(I prefer second version)

I know that issues like that are not really important, but might be copied bu other contributors and more time consumed

[2016-03-15 23:48] TomaszKolek commented on #83
Maybe add a simple example from test cases? It's better than nothing I think and may cause easier understanding of general concept
@dhuppenkothen

[2016-03-16 07:59] evandromr commented on #86
About the space between operators, the second version is preferred but the use of the first is allowed by PEP8 when it leads to better readable code for example, if the spaces will make the line longer than 79 characters, an extra line breaking, is part of a bigger calculation with multiple operations and you want to emphasize the order they are carried out as in `2*8 + 2` (in this case the lack o

[2016-03-16 08:12] TomaszKolek commented on #86
@evandromr
Fully agree with spaces between operators.

Private methods were used (I guess) firstly at `utils.py` and it was correct. Next were imported in `io.py`

[2016-03-16 08:43] matteobachetti commented on #86
Thanks for pointing out about private methods @TomaszKolek. This is something we should fix, I agree.

[2016-03-16 10:02] TomaszKolek opened #88 "Tests doc looks wrong"
`nosetets command not found` because nose is not including in `requirements.txt`
 I guess nose is a dependency of some lib there are already in that file despite it should be set as a requirement of the project.

Additionally, I've got some problems with installation `nose` on the OSX El Captian - I'm trying to fix that. That is not stingray problem probably. I don't know but maybe it should be in

[2016-03-16 14:15] dhuppenkothen commented on #86
@TomaszKolek: I think the reasoning for not having all imports at the top of the file could be, in some cases, imports of optional dependencies. Say you want to use the class `Lightcurve`, but you might not want to plot them, there's not necessarily a reason for you to import `matplotlib`, so it could be an import in the method that uses it. I don't actually know whether that's a standard thing to

[2016-03-16 14:32] TomaszKolek commented on #86
Hm... If some part of the project requires module X that means module X should be in requirements.txt.
Pep8 also recommends import at the top of a file.

[2016-03-16 18:29] evandromr commented on #86
I believe we can do this by putting those imports in the top of the file with a `try: except` context manager to perform a test on the optional dependences and store a variable `has_dependece_X = True`.

When calling a method or function that uses an optional dependence we check `if has_dependece_X`, and if not throw an error/warning to the user (e.g, `"We failed to import matplotlib.pyplot, you c

[2016-03-16 18:41] TomaszKolek commented on #86
@evandromr
I thought about it too. It looks the best for that situation.

Yes I will take a look into doc and imports are cached - my bad.

[2016-03-16 22:29] OrkoHunter commented on #79
@dhuppenkothen Feel free to close the issue once you get hands on this,

[2016-03-16 22:35] dhuppenkothen commented on #79
Removed some stale branches. Closing

[2016-03-16 22:35] #79 closed

[2016-03-16 22:36] dhuppenkothen commented on #88
Since we've just moved away from `nosetests`, is this still relevant or can I close this issue?

[2016-03-16 22:38] TomaszKolek commented on #88
Please close it.

[2016-03-16 22:55] #88 closed

[2016-03-17 06:57] TomaszKolek commented on #83
@dhuppenkothen @OrkoHunter
As a summary of the issue:
1. We'd like to add readdocs doc to Readme
2. Add some example of usage our lib

Is that correct?

[2016-03-20 21:30] dhuppenkothen commented on #77
Solved in #78. Closing.

[2016-03-20 21:30] #77 closed

[2016-03-21 12:15] usmanwardag commented on #75
This can be closed now.

[2016-03-21 16:09] dhuppenkothen commented on #75
Closing.

[2016-03-21 16:09] #75 closed

[2016-03-21 18:45] OrkoHunter commented on #83
I think the name of this open issue should be changed.

[2016-03-23 05:27] dhuppenkothen opened #90 "Additions to `Lightcurve` class"
We had a very informative discussion at the Python in Astronomy meeting today, and one thing that came up was the functionality of the `Lightcurve` class. I think some of these things currently live in pull requests, but I'm adding them here for completeness.
- [x] Rebin (including recalculating uncertainties)
- [ ] Time index column both middle of bin and bin edges
- [x] Time shifting/frame conve

[2016-03-23 05:29] dhuppenkothen opened #91 "Use `pandas` or `astropy.tables` in Lightcurve?"
There was a suggestion today to use either `pandas` or `astropy.tables` within the `Lightcurve` class. `pandas` has the advantage that it has lots of functionality built-in.

`astropy.tables` has the advantage that it connects to other useful `astropy` concepts such as units and time concepts (which might allow us to provide time conversions more easily).

Not something that needs to be fixed inst

[2016-03-23 05:33] usmanwardag commented on #90
You talked about interpolation. Just wondering if extrapolation would be any useful?

[2016-03-23 09:13] nithinsingh61 commented on #91
1. Pandas as in such doesn’t support fits and VOTable format(which are very relevant to us  ),
2. Column cant be multidimensional (if we wish wish to store data(say `bispectrum` viz (nfft,nfft)  ) of  a fixed time range  or energy range #90 )  we would fail
3. Storing metadata (#90) is not that flexible ([Panda issue](https://github.com/pydata/pandas/issues/2485))

But pandas does have some good f

[2016-03-23 09:27] nithinsingh61 commented on #90
Interpolation can be dealt with having a fitting function .
Extrapolation and predicting  data for new timestamps ? can be done using the same ! @usmanwardag

[2016-03-23 09:30] usmanwardag commented on #90
What I was intending to ask was if extrapolation would be of any practical utility?

[2016-03-23 09:35] nithinsingh61 commented on #90
:)

[2016-03-23 09:38] usmanwardag commented on #90
Yes, but is it of any use to predict values for timestamps that are out of range?

[2016-03-23 09:43] nithinsingh61 commented on #90
Yes ,you can model and predict events [link](http://iopscience.iop.org/article/10.1086/310751/fulltext/5182.text.html) ,but little less relevant in our scope

[2016-03-23 12:08] matteobachetti commented on #90
I'd add a hook to simulate different realizations of the same lightcurve with the (TBD) simulator @dhuppenkothen
Something like `lc.fake()`

[2016-03-23 17:56] Xygonakis commented on #90
I think Metadata is somehow important as information about energy ranges etc, is quite necessary for methods using specific energy ranges, from a few things i have seen.

[2016-03-23 18:42] dhuppenkothen commented on #90
@nithinsingh61 I'm not sure we want to go the route via fitting a function in order to do interpolation. I think that should be dealt in a different place than the `Lightcurve` class (because it'd be a huge effort to implement given the types of time series we generally have).

I think we were thinking about something much simpler (like linear interpolation or spline interpolation via `scipy.inter

[2016-03-23 18:45] dhuppenkothen commented on #90
@usmanwardag @nithinsingh61 Predicting time steps outside the start/end times of the time series would be technically extremely challenging, and again depend very strongly on the astrophysical source observed to create the time series. I'd probably not try to implement this here.

[2016-03-23 19:06] nithinsingh61 commented on #90
They surely don't belong to `Lightcurve` class , but we shouldn't be limiting ourselves to linear or spline   interpolation . fitting function ( `numpy.polyfit` , `scipy.optimize.curve_fit` ) can serve our purpose  @dhuppenkothen

[2016-03-25 00:07] fustiman commented on #69
These days, It's the first time I'm reading the code and although It's clean and commented, I also think that it would be helpfull to have examples to execute of relevant classes like Lightcurve.

[2016-03-25 00:24] fustiman commented on #91
Tables fit better in Lightcurve and they also support grouping. I don't think necessary nor desirable including also pandas.

[2016-03-25 00:46] fustiman opened #92 "Parallelization"
Maybe, it would be interesting to parallelize some methods (specially those ones holding masive data) to improve performance. Maybe the performance is quite good and this is only complicating things without reason.

[2016-03-25 00:50] abigailStev commented on #92
You mean like parallelizing computations for segments of data that will be added together? It's a great idea to have as an option!

[2016-03-25 00:54] abigailStev commented on #91
Keep an eye on this astropy feature request for a time series module based on astropy tables: https://github.com/astropy/astropy-APEs/pull/12

[2016-03-25 01:09] fustiman commented on #92
Exactly. From my experience, heavy calculus are usually handled in parallel. I think that the most difficult part is to study which methods are adequate for being parallelized and to decide the optimal strategy (Shared memmory, message passing or an hybrid one).

[2016-03-25 10:54] matteobachetti commented on #92
Hi @frustiman, thanks for the interest in the project. What do you use for parallelization in Python? Just the standard `multiprocess`? In my experience, multiprocessor stuff is very difficult to debug, so I would avoid it if we can obtain decent performance using other methods. For example, we are not yet using extensively `numba` or an equivalent LLVM compiler. I think this can produce, as a fir

[2016-03-25 17:53] fustiman commented on #92
I totally agree. Parallelization would be only an option for pieces of code still having an unacceptable performance after other methods like numba have been applyed to them

[2016-03-25 18:15] dhuppenkothen commented on #92
This might be important for current and  future telescopes, e.g. AstroSAT.
Is there a parallelized version of a Fourier transform?

[2016-03-25 18:51] nithinsingh61 commented on #92
There are , one way to do it would be wrap standard c/c++ parallel version (OpenMP) using Cython or use version  available in [link](https://github.com/mpip/pfft) ,But this decision all boils down to average amount of data we are going to deal with  ?

[2016-03-25 18:56] matteobachetti commented on #92
If performance is needed in the Fourier transform, FFTW is often the solution :). They also have a parallel AND a multi-threaded versions
http://www.fftw.org/doc/index.html
There are other libraries out there, of course. It is worth making a list.

[2016-03-25 18:57] dhuppenkothen commented on #92
AstroSAT has mentioned that regular FFTs are too slow for their data, so there might be some scope for doing this, if we can find a stable library that's fairly easy to install.
I'm going to try to see whether they'd give us some test data if we decide to implement this.

[2016-03-25 19:02] dhuppenkothen commented on #92
Are the implementations in numpy and scipy native python, or does it wrap fast C/Fortran routines? Does anyone know?

[2016-03-25 19:09] nithinsingh61 commented on #92
Implementations in `numpy` and` scipy `are abstract and use many variations for speed(Even Cython is used). They are not pure python

[2016-03-26 13:17] OrkoHunter commented on #69
Let's have the `notebooks` repository on GitHub now !

[2016-04-03 13:24] nithinsingh61 commented on #90
I have been trying to understand lightcurve concepts ! A little doubt , In the above list what do you mean by method for sky background ? Is it regarding  coordinates of event data or noise of sky background

[2016-04-05 09:19] OrkoHunter commented on #67
Are we ready to put the package over pypi? I would be happy to help.

[2016-04-06 13:45] dhuppenkothen commented on #90
@nithinsingh61 When observing some object in the sky, the light we see is normally not just from the source (e.g. the star) that we're interested in, but often also stray light from other stars that are close-by. This stray light is usually called "sky background". Sometimes, the data processing pipeline might produce a sky background measurement for every point in the time series, in which case w

[2016-04-06 14:02] dhuppenkothen commented on #83
@TomaszKolek Yes, that sounds correct. Getting the link to the documentation into the readme has priority.

[2016-04-06 14:04] dhuppenkothen commented on #67
I'm conflicted. On the one hand, it would be good to have it up.
On the other hand, it's far from ready for actual analysis, and I'm worried that researchers will take the half-finished code and try to use it. In principle, we'll need people to test for us, but I also want to avoid stingray to get a reputation for being buggy and breaking (scientists are not always patient with their software) bef

[2016-04-06 14:04] dhuppenkothen commented on #84
I think we can close this issue?

[2016-04-06 14:07] dhuppenkothen commented on #83
As stingray is getting known as a project in the community, I think it would be worth putting a warning at the top of the readme that stingray is still in development stage and pre-release.

Similar to my comment on #67, I'm worried that scientists will take the unfinished code, try to use it and abandon it entirely when it doesn't work on something. Having a warning up will at least caution users

[2016-04-06 18:34] OrkoHunter commented on #67
Maybe we should add a Note somewhere on top, about the package being in Alpha or pre-release stage until we build up some useful tools. Let's put the pypi release on hold.

[2016-04-06 21:02] matteobachetti commented on #83
I absolutely agree.

[2016-04-07 08:44] matteobachetti commented on #84
Yes. Closing.

[2016-04-07 08:44] #84 closed

[2016-04-07 19:08] dhuppenkothen commented on #67
See PR #94

[2016-04-15 17:16] nithinsingh61 opened #96 "Energy intervals"
Many methods (`Powerspectrum` ,`Bispectrum` etc ) require their evaluation only  in user specified intervals of energy ,but once we extract  lightcurve from events without applying interval filters we lose on information

I think we can tackle this issue in two ways :
1. Creating a intermediate structure(or more general lightcurve ? ) which defines standard channels of energy ( [link1](http://heas

[2016-04-29 06:37] usmanwardag opened #98 "Export LightCurves in `fits` format"
The `simulator` project requires porting [maltpynt's](https://bitbucket.org/mbachett/maltpynt) MPfake functionality to create event lists from light curves. Since, `maltpynt` accepts light-curves in `fits` format, I think it would be a good idea to create functionality to export `LightCurves` in this format. This would make the two libraries greatly compatible.

[2016-04-29 10:49] matteobachetti commented on #98
Yes, definitely. We need to add MaLTPyNT's relevant functions to Stingray's `io.py`, plus a couple new methods in the `Lightcurve` class to import/export to this format. Also, MaLTPyNT's relevant tests should be imported (and maybe improved?)
Can you start a PR with these additions? We can then iterate on code consistency, tests, documentation, and so on.

[2016-04-30 03:54] usmanwardag commented on #98
Sure, I am on it.

[2016-05-05 20:04] dhuppenkothen opened #100 "Move GTI related code into its own module"
Currently, `io.py` is fairly big, partly because there's a lot of code related to Good Time Intervals (GTIs) in there. This should go into its own module so we can keep `io.py` clean for the basic input/output functions.

[2016-06-04 20:12] matteobachetti commented on #100
It seems that this has been addressed already in your commits to PR #99. Can we close this @dhuppenkothen?

[2016-06-04 21:11] dhuppenkothen commented on #100
Yes. Closing.

[2016-06-04 21:11] #100 closed

[2016-06-06 18:00] dhuppenkothen opened #106 "Method to apply dead-time correction to PSDs"
At some point, it would be useful to implement a method in `Powerspectrum` that allows users to apply the dead-time correction from Zhang et al (1995) to the power spectrum. It should probably also throw a warning that this is only strictly valid for RXTE data.

Not urgent; more a reminder that this would be useful to have.

[2016-06-07 21:34] matteobachetti commented on #106
Good point.
Actually, it is valid for any instrument with fixed dead time, not only RXTE. The method by Vikhlinin (1994) is also fairly good and a little simpler (at least it's analytic) for quick implementation

[2016-06-21 15:07] eteq commented on #91
@dhuppenkothen  @nithinsingh61 - Not sure if you've actually done something with this or not, but something that might be relevant: Astropy tables [support conversion to/from](http://docs.astropy.org/en/stable/api/astropy.table.Table.html#astropy.table.Table.to_pandas) pandas.

So my thinking is that you might be better off having the "real" version be Astropy tables, because they support more com

[2016-07-02 19:37] dhuppenkothen opened #112 "Use (custom) Exceptions instead of assertions to test correctness of user input"
I think it would be useful to change some of the assertions in the code that check e.g. types of variables, equivalency and so on into (custom) exceptions. For example, if an function or method requires a Lightcurve object, it should throw a TypeError, not an AssertionError. Comments?

[2016-07-02 23:55] OrkoHunter commented on #112
Many times our errors might not fit the default error types in Python. In those cases we can raise `StingrayError` with our message ! This is a common practice in many libraries.

[2016-07-17 21:01] dhuppenkothen opened #117 "Use distributed computing for large data sets"
One thing that came out of the Lorentz Center workshop was the need to think about new data sets that are much larger than the ones we currently have. Specifically, Astrosat is having some concerns about both runtime and memory for things like power spectra and cross spectra.

This is a reminder to us to explore these issues in the future. One library that might be useful for doing this is [dask](

[2016-07-21 08:26] matteobachetti commented on #117
I totally agree with this enhancement.
About `dask`, it is great but not for calculating FFTs over large datasets. If you try to get a single FFT of a `dask` array divided in chunks, it returns the following error:

![screen shot 2016-07-21 at 10 05 04](https://cloud.githubusercontent.com/assets/7190189/17015822/7acd0b9e-4f2c-11e6-8a48-ff010799673d.png)

It surely will let us gain something, howev

[2016-07-21 15:00] dhuppenkothen opened #120 "Run tests for Python 3.5"
What the title says: we ought to run tests for Python 3.5

[2016-07-21 15:51] dhuppenkothen commented on #117
Yes, the latter was exactly the use case I was thinking of. This would also be true e.g for cross spectra and covariance spectra, which users will in practice most likely calculate over segments or multiple energy bins.

I'm not 100% convinced yet that dask is the way to go, since there are other packages out there, but it's something to keep in mind for future additions.

[2016-07-22 21:10] dhuppenkothen commented on #120
Fixed in PR #122

[2016-07-22 21:10] #120 closed

[2016-07-28 15:07] matteobachetti opened #127 ""Join" operation with empty EventList crashes"
Minimal example:
[code]

[2016-07-28 15:26] matteobachetti opened #128 "Take GTIs into account when calculating power/cross spectra"
Up to now, there is no mention of GTIs when calculating power spectra or cross spectra. Data are assumed to be without gaps. This might work for long XMM observations, but it will not work, for example, for NuSTAR where typical observations are much longer than the orbital period of the satellite.

In MaLTPyNT, time intervals to calculate the power spectrum are chosen so that the usage of GTIs is

[2016-07-29 06:39] evandromr commented on #127
Maybe we should raise a Warning instead of ValueError? I would like the feedback if I use an empty list.
Why would you use `join()` in a empty object on purpose?

[2016-07-29 12:45] matteobachetti commented on #127
My use case is creating a single event list for multiple files. it is very easy to do
[code]

[2016-07-29 12:47] matteobachetti commented on #127
But it might also happen that we are loading event lists from multiple files and we don't know that one is empty. In that case, the `join` operation should not crash, but just return the events that are valid.

[2016-07-30 06:36] evandromr commented on #127
I agree. And I would still keep a warning message of the sort: "You are concatenating empty event lists"

[2016-07-30 07:04] matteobachetti commented on #127
Sure

[2016-08-01 17:30] OrkoHunter commented on #90
We have plenty functionalities available now. It should be good to mark them in this issue.

[2016-08-01 18:03] dhuppenkothen commented on #90
True!

[2016-08-06 14:29] #127 closed

[2016-08-06 19:41] dhuppenkothen commented on #112
Solved in PR #116

[2016-08-06 19:41] #112 closed

[2016-08-08 16:38] dhuppenkothen commented on #82
Sorry for dropping the ball on this!

* Yes, the `rebin` function is left over from a time when `Crossspectrum.power` and `Powerspectrum.power` contained the zeroth frequency. Since it doesn't anymore, this should change.
* Yes, `rebin_lightcurve` should be renamed into just `rebin`. I think `Powerspectrum` and `Crossspectrum` have the correct names already, right?
* Given that `rebin_lightcurve`

[2016-08-09 08:46] evandromr commented on #82
Great, one other point of confusion from my part:

We test several times if  `bin_ps.freq[0] == bin_ps.df`, while this must be True for a powerspectrum constructed from a lightcurve I think this is almost never True for a binned powerspectrum (which is different than a powerspectrum constructed from a binned lightcurve for which it would be True again).

Do you agree with this? If so I will either

[2016-08-09 09:04] evandromr opened #135 "Typo in stingray/simulator/tests/test_simulator.py ?"
Hi,

@usmanwardag, you had the last commit in the file so maybe you can help me.

in the line 255 of the file [stingray/simulator/tests/test_simulator.py ](https://github.com/StingraySoftware/stingray/blob/master/stingray/simulator/tests/test_simulator.py#L255)

Shouldn't it be `v_cutoff = 1.0/(2*15.0)`, instead of `v_cutoff = 1.0/(2*10.0)` ?

I copied the relevant test function below to make it e

[2016-08-09 09:40] evandromr commented on #27
I believe the main point of this issue has been solved by the new Crosspectrum class.
Is there a reason to keep this open?

[2016-08-09 13:53] dhuppenkothen commented on #27
No, indeed. Closing.

[2016-08-09 13:53] #27 closed

[2016-08-10 13:54] dhuppenkothen commented on #82
Yes, I think that makes sense.

[2016-08-11 06:15] usmanwardag opened #137 "Alter read method in io.py"
Currently, in order to read fits file for missions like RXTE and XMM, `load_events_and_gtis()` method in `io.py` is called by user.  This returns a dictionary object with key-value pairs. This is useful but inconsistent with `read()` functionality of stingray.

I am wondering if we should call `load_events_and_gtis()` method from within `read()` in io.py to make it consistent. One approach can be

[2016-08-11 20:54] matteobachetti commented on #137
@usmanwardag I kind of agree. Maybe, instead of using the `mission` keyword, we might just recognize if the file is from an observation. E.g.:
1) The file is called by `EventList.read` and it's a NuSTAR (or whatever) observation: use `load_events_and_gtis`, with  `additional_columns=["PI"]` and load the proper event list attributes from there
2) Same goes from `Lightcurve.read` called with a prope

[2016-08-11 21:33] dhuppenkothen commented on #137
Is that not one of the things we should be discussing with Keith?

[2016-08-11 21:49] matteobachetti commented on #137
@dhuppenkothen Yep, but this is the quick-and-dirty version of that, using the functionality we already have.
In the (near, I hope) future, I think that `load_events_and_gtis` will be dropped altogether in favor of a more consistent and complete method that covers more missions.

[2016-08-11 21:52] dhuppenkothen commented on #137
Fair enough. Then yes, I agree.

[2016-08-12 15:46] usmanwardag commented on #137
Sounds good, I will be submitting a PR on this in a while.

[2016-08-15 18:26] #135 closed

[2016-08-23 10:16] matteobachetti commented on #128
Solved in #131

[2016-08-23 10:16] #128 closed

[2016-08-23 12:29] #82 closed

[2016-08-23 21:14] matteobachetti opened #150 "Shouldn't rebin and rebin_log both return `*Spectrum`s?"
As things are now, `Crossspectrum.rebin` returns a `Crossspectrum` object while `Crossspectrum.rebin_log` returns a tuple (frequency, power, number). Is there a specific reason for this? Shouldn't they return the same kind of value (preferably a `Crossspectrum`?)

[2016-08-24 12:02] dhuppenkothen commented on #150
I don't know about this. There are a few differences. Mainly, we can't set the `df` attribute, since there isn't one `df`, and `m` will be different for each bin. We might just be able to set those with arrays instead of numbers, but we'll want to be careful about some of the checks and tests, then.

I don't have a strong opinion either way, I'm just not sure I've thought through all the implicati

[2016-08-24 12:15] matteobachetti commented on #150
I would be more oriented towards allowing `df` and `m` to be arrays. I *think* that for the way they are used, most operations should work out of the box.
Maybe I'll try the refactoring next week and, if it doesn't require too much work, I'll push a PR about it.

[2016-08-26 12:13] abigailStev commented on #150
I've run into this as well when playing with the classes while writing the notebook tutorials. I also recommend having `df` and `m` be arrays and having it return a spectrum.

[2016-08-31 10:30] evandromr opened #151 "`AveragedPowerspectrum.rebin()` doesn't work"
using `rebin` on AveragedPowerspectrum returns the error:

[code]

This happens because:

1.  `AveragedPowerspectrum` requires `lc` and `segment_size` but `AveragedCrosspectrum` doesn't (default to `None`)
   - **Proposed Fix**: make `lc` and `segment_size` default to `None` in `AveragedPowerspectrum` and allow an 'empty' instantiation of the class.
2. `Crossspectrum.rebin`  tries to assign `nphot

[2016-09-01 23:52] matteobachetti opened #152 "Compatible read/write methods"
In their current form, read/write methods are a little messy.
Example 1:
`_save_fits_object` gets a class object and saves it in a FITS file
`_retrieve_fits_object` returns a dictionary. I would expect having back the same kind of object I saved in the first place!

Example 2:
If I want to save a `Lightcurve`, I can use the `write` method, and retrieve with `read`. Great! But... If I save and retr

[2016-09-02 02:00] matteobachetti commented on #16
@dhuppenkothen Should we close this? We are working pretty well on Python 3.5 now :)

[2016-09-02 03:28] dhuppenkothen commented on #16
Yes, let's close

[2016-09-02 03:28] #16 closed

[2016-09-05 11:13] abigailStev opened #154 "Apply GTIs to Lightcurve objects"
Following from the extensive discussion in pull request 144 (https://github.com/StingraySoftware/stingray/pull/144):

The result of the discussion (to my understanding) is that we apply GTIs everywhere, including the `Lightcurve` object. We'll need to change `Lightcurve` to actually apply GTIs if they're given (currently, they're just stored).

[2016-09-05 12:26] abigailStev commented on #150
Update: we will also want to be able to `rebin_log` the frequency lags.

[2016-09-05 13:10] evandromr commented on #86
I think this issue is outdated. Maybe is best to close for now, and re-open if needed?

[2016-09-05 13:16] matteobachetti commented on #86
I agree @evandromr. Most of the points raised by @TomaszKolek have been addressed, sometimes without specifically referring to this Issue.
I close this and we will reopen if needed. Thanks @TomaszKolek!

[2016-09-05 13:16] #86 closed

[2016-09-09 16:23] #151 closed

[2016-09-17 10:21] matteobachetti opened #155 "Wrong normalization in coherence spectrum"
In `AveragedCrossspectrum`, if we calculate the coherence function of a light curve with itself, the coherence should be 1. Instead, it goes exactly to `1 / M**2`.
Minimal working example:
[code]
Should be instead
[code]

This is because in `AveragedCrossspectrum.coherence()` the averaged power spectra at the denominator are only summed, without dividing by `c.m` at the end as it is done in the nu

[2016-09-20 22:42] #155 closed

[2016-10-09 13:18] dhuppenkothen opened #157 "Rebinning Lightcurve when the time stamps are irregular"
While we warn users not to make power spectra with irregularly sampled light curves, I think the behaviour in the `Lightcurve` class itself should probably support irregularly sampled light curves (this might also set us up for future methods that do allow for irregularly sampled data, which is becoming more and more ubiquitous).

The one that I'm currently worried about is `rebin`, which does not

[2016-10-10 06:58] matteobachetti commented on #157
I think that we should definitely rebin light curves with gaps. Gaps are usually encoded in GTIs, so no big deal.
Unevenly sampled light curves might be more tricky. The rebinning should do an average of all points in a given time interval. I think that we should force light curve bins to have an uncertainty associated in this case.
Unevenly sampled light curve are a necessary part of the toolset.

[2016-10-11 06:07] parthsuresh commented on #150
@matteobachetti  @abigailStev  @dhuppenkothen  I'd like to work on this issue.

[2016-10-11 13:22] dhuppenkothen commented on #157
But I have many light curves that have gaps and no GTIs, so it might not be that trivial ...

[2016-10-11 13:25] dhuppenkothen commented on #157
I think that currently, we allow the user to pick whether they'd like to add or average points. But in principle, it shouldn't be much of a problem to do weighted averages.

-1 for Lomb-Scargle periodograms. Almost nobody ever uses LSPs correctly, in my experience. If we do want LSPs, `scipy` also has an implementation, and it might be worthwhile to look at [`gatspy`](http://www.astroml.org/gatspy

[2016-10-11 14:27] dhuppenkothen commented on #150
@parthsuresh: Great! Thank you! Feel free to post questions here or in slack.

[2016-12-08 13:25] dhuppenkothen opened #158 "Better light curve simulations from red noise"
As a future enhancement, it would be useful to have the methods by [Emmanoulopoulos et al, 2013](http://adsabs.harvard.edu/abs/2013MNRAS.433..907E) implemented, which allows simulations of light curves with a specific power spectral shape *and* a specific flux distribution, as compared to Timmer+Koenig 1995, which always assumes a Gaussian flux distribution.

[2016-12-08 14:20] madoee opened #159 "AttributeError building sphinx docs"
Hi all,

building the sphinx doc I ran into an` AttributeError` with the disutils.config module:

[code]
I'm running the following versions:
[code]

It seems that [the distutils package has changed recently](https://github.com/djones1040/PythonPhot/issues/11). I included the following try/except statement in docs/conf.py:

[code]

which fixed the issue.

I also had to install astropy-helpers via p

[2016-12-08 14:25] dhuppenkothen commented on #159
Thanks for opening the issue! Stingray is still in development stage, so there are definitely still some bugs to fix. We very much appreciate the help.

If you make a pull request, it will automatically run through Travis, which will check builds with different versions of Python and required packages, so this would let you know whether it works.

[2016-12-08 15:25] saurvs commented on #159
Oh! I didn't see this before I submitted https://github.com/StingraySoftware/stingray/pull/160. Sorry @madoee if you were going to do it yourself! (Honestly, what are the chances? :))

[2016-12-09 18:07] madoee commented on #159
Yes, works great now.

[2016-12-10 20:03] dhuppenkothen commented on #159
Excellent, I'll close this issue, then.

[2016-12-10 20:03] #159 closed

[2017-02-15 17:26] matteobachetti opened #163 "White noise estimates"
Estimate white noise in PDSs using a Gaussian distribution if Nsegments > 30, otherwise use Barret &Vaughan 2013.

[2017-02-15 17:32] dhuppenkothen commented on #163
What are we estimating here, and in which PDS? This issue is not entirely clear to me. Also, why don't we use Barret & Vaughan everywhere, since it's always correct?

[2017-02-15 17:33] dhuppenkothen commented on #163
Sorry if I'm dumb, but is the idea here to basically fit a constant to the power spectrum?

[2017-02-15 17:56] matteobachetti commented on #163
You need to select the frequency range so that you don't have significant variability, and then yes, fit a constant :)
I agree with using B&V everywhere actually. It's just more computationally expensive but it should not be that bad

[2017-02-15 17:58] dhuppenkothen commented on #163
I use it everywhere, and I don't think the cost is much. This should be solved in principle by my modeling pull request, which should be ready for review probably by the end of tomorrow. Once that works, it should be straightforward to write a simple function that takes a `Powerspectrum` object as input and `f_min` and `f_max` and then fit the constant to that. Does that make sense?

[2017-02-16 09:53] matteobachetti commented on #163
Perfect

[2017-02-21 13:52] matteobachetti opened #164 "Optimize Stingray"
I would like to discuss here the bottlenecks of the library, and all techniques that can be used to speed-up the processing.
We should start from numbers. Let us make use of the `% prun` magic on ipython to profile the significant bits of code (I would personally start from `Lightcurve` objects with >10^6 bins), together with visualization tools like `snakeviz`, to get them.
After, we can talk abo

[2017-02-22 13:03] sandeepkrjha opened #165 "Trouble in understanding the language."
I was reading the following lines in [Lightcurve.makelightcurve](https://github.com/StingraySoftware/stingray/blob/master/stingray/lightcurve.py#L340-L342) when I read this about `tseg`
[code]

Does it mean that we have to subtract the last time-bin in the end? It would be great if someone could explain it to me. :)

[2017-02-22 20:15] parulsethi commented on #90
Hi,
I am interested in contributing for this. Can you please update the list in issue (as from looking at [lightcurve.py](https://github.com/StingraySoftware/stingray/blob/master/stingray/lightcurve.py), it seems some of the unticked ones also have been added later)

[2017-02-22 21:06] dhuppenkothen commented on #90
hi @parulsethi, welcome! I've updated the list. If there are things that look like they're done but aren't ticked, that's because there's a specific part missing.

Something fairly straightforward to get feet wet could be to support time indexing of both the time bin edges as well as the middle of the bins. At the moment, the code assumes that the input is the middle of the time bins and the assoc

[2017-02-23 12:50] parulsethi commented on #90
@dhuppenkothen thanks for the suggestion :)

if i understand correctly, user should provide the input to be either middle of the bins or else bin edges(bin_lo = array of all lower time stamps, bin_hi = array of all corresponding higher time stamps)

and so in case of bin edges also, user will input the associated counts similarly as it is done in right now — array of counts/bin?

[2017-02-23 13:21] sandeepkrjha commented on #165
Ping

[2017-02-24 14:25] matteobachetti commented on #165
@sandeepkrjha yes, it's definitely unclear. Thanks for pointing this out!

[2017-02-24 14:33] #165 closed

[2017-02-24 16:42] matteobachetti commented on #163
Resolved in PR #162

[2017-02-24 16:42] #163 closed

[2017-02-24 16:58] sandeepkrjha commented on #165
@matteobachetti Thanks for correcting it :)

[2017-02-25 17:34] samj1912 opened #166 "Sphinx build failing"
Your current sphinx travis build is failing because of warnings. See https://travis-ci.org/StingraySoftware/stingray/jobs/205008935

This is causing the webhook to update the docs to fail. Please correct them :)

I see a part of the warnings have been fixed in https://github.com/astropy/astropy-helpers/pull/275/files

And 2 other warnings are also from astropy-helpers

[2017-02-25 23:01] parulsethi commented on #90
I'm a bit confused about how bin edges would be calculated. will it be the direct input parameter or will it be calculated using the provided middle of bins(edge being the midpoint between these)?

[2017-02-26 18:02] dhuppenkothen commented on #90
I think for the moment, assume that the bin edges go from $t_i - 0.5*dt$ to $t_i + 0.5*dt$, so essentially assume that the current input is the center of each bin, so that the bin edge goes from 0.5 times the bin width below that to 0.5 times the bin width above that. Does that make sense?

I think in the future, we might want to allow the user to input bin edges rather than bin centres as well, b

[2017-02-26 19:12] parulsethi commented on #90
Yep, perfectly clear now :)

[2017-03-10 13:09] matteobachetti opened #172 "Add cross-correlation function"
Needed for [DAVE-105](https://timelabdev.com/jira/browse/DAVE-105)

[2017-03-12 07:29] achillesrasquinha opened #173 "Astronomical Data Sets for the `datasets` module."
Hello! The current package resource - `datasets` provides a single `lc_sample.txt` data set. I believe this limits the scope of exploration for new users of the library. (They'd be initially working with manually generated samples than real observations). Can we include some real-world observed data sets? This might include implementing a remote downloading from say a data archive remote server an

[2017-03-12 12:22] parulsethi commented on #172
I’ll take this up

Please explain that:  What is the expected input by stingray user (lightcurve counts? which would mean 1d array?)
or as written in short description that correlation would be calculated from cross-spectrum, so does it mean by using inverse fft?

[2017-03-14 19:25] dhuppenkothen commented on #172
Hi @parulsethi, great! The expected input from the user should indeed be a `Lightcurve` object (so yes, it'll be count data).

You might want to look `covariancespectrum.py`, since the correlation should be computed somewhere in there, but it might be easier to compute the cross correlation somewhere separately and refactor `covariancespectrum.py` to use that.

[2017-03-14 19:28] dhuppenkothen opened #174 "Include Deviance Information Criterion in Modeling subpackage"
Since we allow the user to do MCMC, I think it would be useful to have an implementation of the Deviance Information Criterion (DIC), since it's more robust for model comparison than likelihood ratio tests, AIC, BIC and the like, but not quite as computationally expensive as the full marginal likelihood.

See here for details:
https://arxiv.org/pdf/astro-ph/0701113.pdf
https://arxiv.org/pdf/0803.4

[2017-03-15 23:23] parulsethi commented on #172
Okay, so should I create a different file for cross-correlation?

[2017-03-17 18:40] haroonrashid235 commented on #172
With regards to the correlation function, do we have auto-correlation already implemented?
If not, I think it'll be useful to have.
If yes, would it be better to create a single correlation function with one optional argument so that we can do auto-correaltion, if one argument is provided and cross auto-correlation if two arguments are provided.
What I am suggesting is something like this:
[code]

[2017-03-28 03:42] omargamal8 commented on #164
Hello, I'm Omar.
Ok i'm definitely willing to start working on it, but am pretty new. Can you tell what should I go read or the files concerning the problem?

[2017-03-28 22:18] omargamal8 commented on #164
Is there an example of an input sequence which highlights the slowness of the calculations?

[2017-03-28 23:34] omargamal8 opened #178 "Errors while trying to install stingray using python 2.7"
![3](https://cloud.githubusercontent.com/assets/23017651/24431985/7d9c5970-141f-11e7-864b-0b285eecb581.png)
![2](https://cloud.githubusercontent.com/assets/23017651/24431986/7da0ac5a-141f-11e7-95a5-39f5bff9a6a6.png)
![1](https://cloud.githubusercontent.com/assets/23017651/24431988/7da684cc-141f-11e7-85b2-c952360a2b1b.png)               <---- Beginning

These are pictures of the complete informatio

[2017-03-28 23:46] OrkoHunter commented on #178
I see a couple of test failures. @omargamal8 Are you able to import stingray library?

[2017-03-29 16:48] omargamal8 commented on #178
@OrkoHunter  Yes, I can import stingray without any trouble.

[2017-03-30 03:09] omargamal8 commented on #164
@matteobachetti  Ok, so I combined %prun on ipython with snake viz and made a small script which creates a Lightcurve Object and used  10^8 bins. It made my pc unresponsive for a while ^^.
Those were the results.
![snakevizruntime](https://cloud.githubusercontent.com/assets/23017651/24485822/0f1b28ee-1507-11e7-981e-cbe4719b8011.png)

[2017-03-30 08:46] matteobachetti commented on #178
@omargamal8 Thanks for reporting!
@OrkoHunter the problems are linked to some tests using random numbers. @dhuppenkothen and I are investigating the issue.

[2017-03-30 09:08] matteobachetti commented on #178
@omargamal8 I can't reproduce this in either Python 2.7 or 3.5, so it's probably linked to the random number generation.

[2017-03-30 15:52] dhuppenkothen commented on #174
@Billaud Thanks for your interest in this. After looking at this again, I realized that I may have gotten the references confused. This here is much clearer about how to do this:
http://www.sph.umn.edu/faculty1/wp-content/uploads/2012/11/rr98-009.pdf

Essentially, this procedure has three steps:
1) Compute an MCMC sample for a model (this is already implemented in `ParameterEstimation`
2) Compute

[2017-04-01 13:07] markus-beuckelmann commented on #152
I can work on this! Just to make sure we're on the same page, you would basically expect `io.read()` to always return a valid `Lightcurve` object, just the way it works for the `pickle` format right now?

[2017-04-01 18:35] dhuppenkothen commented on #152
@markus-beuckelmann Cool! We'd love to have some help on this. Well, it's not clear that `io.read()` will necessarily know what kind of data it's currently reading. I think `Lightcurve.read()` should definitely always return a `Lightcurve` object, no matter whether it's read from ASCII or HDF5 or pickle. That might mean adding a few extra lines to `Lightcurve.read()` rather than `io.read()`. Does

[2017-04-01 21:15] Billaud commented on #174
Can you check this it is a first attempt.

[test.txt](https://github.com/StingraySoftware/stingray/files/887972/test.txt)

[2017-04-02 10:44] markus-beuckelmann commented on #152
@dhuppenkothen: True, you're of course right that `io.read() and `io.write()` should be more generic than that.

Absolutely, I already have most of the code for putting the data loaded from `ascii` and `hdf5` formats back into a `Lightcurve` object. Will submit a PR, probably some time later today!

[2017-04-02 10:57] markus-beuckelmann commented on #152
From searching the code for `read()`/`write()` methods it looks like all other occurrences, i.e.  `TransferFunction` ([transfer.py#L205](https://github.com/StingraySoftware/stingray/blob/d8588d52c963874ac34a504f62145b7123317c1b/stingray/simulator/transfer.py#L205)), `EventList` ([events.py#L388-410](https://github.com/StingraySoftware/stingray/blob/d8588d52c963874ac34a504f62145b7123317c1b/stingray

[2017-04-03 19:37] dhuppenkothen commented on #152
There are a few classes that don't have read/write methods at all. `Powerspectrum` and `AveragedPowerspectrum`, for example. I think those might come in handy in the future if we had them. But yeah, starting with `Lightcurve` is a good idea.

There's probably some merit into thinking how to represent meta-data stored in those classes such that it's easy to read back out.

[2017-04-04 11:29] matteobachetti opened #182 "Generalize band-of-interest/reference band mechanism from covariance spectrum"
This procedure can be used for other spectra, like the lag spectrum, so it should go out of `covariancespectrum`. Moreover, the selection of the _frequency_ band over which to calculate the covariance/lag/... should be easier. With minor modifications, it will be adapted to lag-energy spectra, and so on.

[2017-04-07 19:31] dhuppenkothen commented on #166
Looks like this is fixed, since the PR this is being referenced by is merged, or am I wrong?

[2017-04-08 05:24] OrkoHunter commented on #178
@matteobachetti Thank you for informing. :)

[2017-04-09 13:52] nitish6174 commented on #166
The test corresponding to doc builds is still having warnings (see https://travis-ci.org/StingraySoftware/stingray/jobs/219899720).
PR #167  and #169 reduced some of the warnings but new ones have shown up in the current master.
Maybe we should leave this issue open while that test is failing.

[2017-04-18 17:17] #5 closed

[2017-04-18 17:29] dhuppenkothen commented on #15
@abigailStev Is this now in Stingray? Can we close this issue?

[2017-04-18 17:37] dhuppenkothen opened #186 "Release v 0.1.0 details"
Hi all (esp. @abigailStev @matteobachetti),

[since Milestone descriptions don't support markdown, let's try this here.]

I would like to plan a first release of Stingray. I think it would be good to release it in tandem with this year's HEAD meeting (August 20-24) for maximum impact.

So here would be the plan:
* July 31, 2017: cut-off for new features + pull requests for version 0.1.0
* Aug 1 -

[2017-04-19 14:02] abigailStev commented on #186
Agreed with the calendar timeline!

[2017-04-19 14:08] abigailStev commented on #186
(I edited the original comment to give the rest of my input)

[2017-04-19 14:13] abigailStev commented on #186
@dhuppenkothen Is "time lags" the same as a lag-frequency spectrum? where you have the time lag as a function of variability frequency, plotted for different energy bands with respect to some reference band? like what's shown for AGN reverberation?

[2017-04-19 14:13] #15 closed

[2017-04-19 14:18] matteobachetti commented on #186
@abigailStev @dhuppenkothen it looks like the lags in "lags and coherence" and in "lags-frequency spectra" are duplicates?
For the rest it looks like a good timeline!

[2017-04-21 09:20] evandromr commented on #23
We can finally close this?

[2017-04-21 09:56] #23 closed

[2017-04-21 09:56] matteobachetti commented on #23
Thanks @evandromr!

[2017-04-21 14:46] cnachi commented on #158
@dhuppenkothen : As I had mentioned I would be very happy to help here as I have some written codes on this. What do you use for the LC simulations currently ?

[2017-04-25 14:34] dhuppenkothen commented on #158
We'd love your help! At the moment, we're using Timmer+Koenig 1995, but I think having an implementation of the Emmanoulopoulos (2013 ?) paper would be super useful.

[2017-05-08 13:22] matteobachetti opened #189 "After rebin, AveragedCrossSpectrum's coherence fails"
Should be easy to solve.

[code]

[2017-05-13 19:17] haroonrashid235 commented on #189
Is the issue related to cs_all not being a class attribute? I have tried to change `cs_all` to `self.cs_all ` and it does not produce error locally but CI tests are not passed.

[2017-06-05 15:35] dhuppenkothen commented on #158
There might be a chance we might be able to incorporate this project (with appropriate citation + references, of course), which should adding this feature much easier: https://github.com/samconnolly/DELightcurveSimulation

[2017-06-05 15:37] dhuppenkothen opened #196 "Fix failing examples"
There are some examples failing that are commented out by PR #194. We need to figure out why they're failing with the development version of astropy and how to fix them!

[2017-06-05 16:10] cnachi commented on #158
You mean by absorbing this as a sub program of Stingray ?

[2017-06-16 14:31] dhuppenkothen commented on #158
Currently on travel, so slow to respond. Yes, that's essentially what I mean. Or at least pull out the parts and modify them so that they work with existing Stingray functionality.

[2017-06-23 09:02] matteobachetti commented on #178
@omargamal8 is it still an issue?

[2017-06-23 09:47] matteobachetti opened #200 "Add information to light curves -- please contribute to brainstorm"
I think we should add a few attributes to the light curve object. For example:

- [ ] The energy range or PI range of the photons used in the light curve - surely useful

- [ ] The total count rate of the observation? - might be useful

- [ ] ...

[2017-06-24 15:59] dhuppenkothen commented on #200
It's been brought to my attention that we need to deal with fractional exposure in bins (especially when rebinning).

From my understanding, using fractional exposure will mess up out power spectral statistics no matter what we do, but we should at least have the option to use it.

[2017-06-29 07:45] matteobachetti commented on #200
I do use fractional exposure in MaLTPyNT for dead time correction, and at the moment it's monkey-patched. So yes, good idea to add it :)

[2017-06-29 09:25] #154 closed

[2017-06-29 10:28] #178 closed

[2017-06-29 10:29] matteobachetti commented on #178
Closing. Please reopen if it pops up again

[2017-06-29 10:30] matteobachetti commented on #69
We do have the notebooks repository! Closing!

[2017-06-29 10:30] #69 closed

[2017-06-29 10:32] matteobachetti commented on #56
Resolved in  #62

[2017-06-29 10:32] #56 closed

[2017-07-13 17:42] omargamal8 commented on #117
I would be very happy to work on this. I think it fits Stingray so much because most of the operations that Stingray does on the datasets are independent and can be distributed efficiently.

[2017-07-13 17:50] omargamal8 opened #209 "Unhandled exception thrown in AveragedCrossspectrum constructor"
If we create two lightcurves and then create an `AveragedCrossspectrum` without specifying the segment size. The following exception gets thrown: TypeError: unsupported operand type(s) for /: 'NoneType' and 'float'.

The full traceback:
[code]

[2017-07-17 09:56] #172 closed

[2017-07-21 13:48] dhuppenkothen opened #215 "notebook for pulsar search functionality"
Just a reminder that we should add a notebook about the code related to pulsar search functionality.

[2017-07-21 14:06] matteobachetti commented on #196
Fixed in #204

[2017-07-21 14:06] #196 closed

[2017-07-23 13:38] pbalm opened #218 "Deprecate simulator.models.lorenzian and rename to lorentzian"
In simulator/models.py there is a function called lorenzian(). This function is addressed normally by passing its name as a string to the simulator. The problem is the function name has a typo in it: It should be lorentzian.

I suggest to deprecate the rename lorenzian to lorentzian and introduce a new function lorenzian that (a) prints a deprecation warning  and (b) calls lorentzian.

But if you'

[2017-07-23 13:52] dhuppenkothen commented on #218
I think that in line with the modeling subpackage this should probably use astropy.models instead of a custom-built function.

[2017-07-23 14:01] matteobachetti commented on #218
@dhuppenkothen besides the fact that there is duplication there (the same functions used as astropy `custom_models` and standard functions), that lorentzian is a generalized lorentzian, with power index n instead of 2.
Agree with name change, though. And, based on past discussions on similar topics, I would be more extreme than @pbalm: since we haven't released the code yet, I would rather rename

[2017-07-23 14:03] matteobachetti commented on #218
Maybe I could make a quick PR making `lorenzian`->`_generalized_lorentzian`, and calling this function from `GeneralizedLorentzian1D`, which makes things much clearer. And now that we are at it, I would also add a TODO: GeneralizedLorentzian1D and the other custom_model there would benefit from an analytical function for the Jacobian!

[2017-07-23 14:25] matteobachetti commented on #218
Seeing the tests, it actually makes sense to have that `generalized_lorentzian` in the API: `GeneralizedLorenz1D` is good when we use the Astropy machinery, while `generalized_lorentzian` might be useful if we use optimizers from `scipy.optimize`.

[2017-07-23 14:46] matteobachetti commented on #215
https://github.com/StingraySoftware/notebooks/pull/13

[2017-07-24 20:15] haroonrashid235 commented on #209
`None` value of `segment_size` causes this issue. We could force user to add a `segment_size` or assume a suitable default value for `segment_size` in case no value is provided?

[2017-07-25 13:11] omargamal8 commented on #209
Yes, I believe a suitable default value for `segment_size` seems reasonable.

[2017-07-25 13:29] haroonrashid235 commented on #209
@matteobachetti Question: What should be a suitable default `segment_size` based on length of `Lightcurve`?

[2017-07-25 13:43] matteobachetti commented on #209
@haroonrashid235 @omargamal8 I would rather force the user to specify it. I think that this is a parameter that users should choose explicitly and carefully.
Also, it should not be separated from the bin time! We might easily create memory overflows or useless results.
We might set a default value based on a certain number of bins, and check that we don't go further than the GTIs in the observatio

[2017-07-25 15:35] haroonrashid235 commented on #209
@matteobachetti So for now, best solution is to make `segment_size` a non-optional parameter. That way user will at least have an interpretable error message.

[2017-07-26 07:11] matteobachetti opened #224 "Add H-test for pulsar searches"
This is an evolution of the Z^2_n test, that consists of finding the value of n maximizing (Z^2_n - 4n + 4):
H = max(Z^2_n - 4n + 4)

Definition: http://adsabs.harvard.edu/abs/1989A%26A...221..180D
Better estimate of detection threshold: https://arxiv.org/pdf/1005.4867.pdf

[2017-07-26 15:51] matteobachetti commented on #215
Done!

[2017-07-26 15:51] #215 closed

[2017-07-27 19:52] matteobachetti opened #230 "Use of undefined variable in lightcurve.join"
At line 605,
[code]
uses `new_counts`, which is undefined.

As Murphy would appreciate, this is one of the very few lines of code not covered by tests, so it got undetected.
We should solve the problem _and_ add tests to cover lines 602-605, and 611.

[2017-07-28 03:06] omargamal8 commented on #230
Fixed! https://github.com/StingraySoftware/stingray/pull/232

[2017-08-03 16:47] #230 closed

[2017-08-03 16:50] matteobachetti commented on #200
@dhuppenkothen @abigailStev @evandromr:
 In maltpynt I'm monkey patching Stingray's objects in order to include this information (and the same goes in DAVE), so we might want to discuss if also in Stingray it can be useful

[2017-08-05 08:23] #150 closed

[2017-08-10 14:37] matteobachetti opened #237 "Add Laplace likelihood for cospectra"
The real and imaginary parts of cross spectra of Poisson noise, taken singularly, don't follow the chi squared distribution like power density spectra, but a Laplace distribution.
See a non-rigorous demonstration here: https://github.com/matteobachetti/timing-lectures/blob/master/2_Aperiodic_Timing.ipynb, output cell 7.
If we want to fit models to cospectra, it would be good to have a Laplace post

[2017-08-10 14:41] matteobachetti opened #238 "Apply GTIs after something happens to light curve"
Right now, when we make modifications to light curves, GTIs are not applied to the output light curve and quantities like `meancounts` are not recalculated (unless a new light curve is instantiated while doing that).

We need to check all points where this happens and correct the behavior

[2017-08-11 19:44] #209 closed

[2017-08-14 13:01] matteobachetti opened #243 "Create periodogram for Epoch folding"
Created here in HENDRICS for convenience, with the basic information that should be available at the very least:
https://github.com/StingraySoftware/HENDRICS/blob/master/hendrics/io.py#L62

[2017-08-20 21:04] matteobachetti commented on #237
Solved in #246

[2017-08-20 21:04] #237 closed

[2017-08-23 16:41] matteobachetti commented on #57
Check out StingraySoftware/HENDRICS!

[2017-08-23 16:41] #57 closed

[2017-08-24 16:13] matteobachetti opened #250 "Logo with Stingray name"
Brian Grefenstette points out that we don't have a logo with the Stingray name in it. Let's create one (good for stickers too)!

[2017-08-30 12:23] abigailStev opened #252 "Use np.bincount instead of np.histogram?"
In a discussion with Laurens Keek at the AAS HEAD meeting last week, he mentioned that in his own code, he uses np.bincount (with multiples of the eventlist dt as his integers, since it needs integers for the bin edges) instead of np.histogram, because he's less concerned with the timestamps and more with the counts per bin. For his use cases, np.bincount is noticeably faster than np.histogram.
np

[2017-08-30 12:29] matteobachetti commented on #252
It is indeed faster, because `histogram` uses `bincount` internally, probably even twice (should check).
If we make sure that we don't get the numbers incorrectly due to rounding errors, it's surely a possibility

[2017-08-31 22:10] dhuppenkothen commented on #252
In which class would you want to use this?

[2017-08-31 22:25] omargamal8 commented on #252
Yes I recall from the analysis I made, np.histogram behaved in a quadratic way and it took the majority of the time, but I had no idea about alternatives.

[2017-08-31 22:44] abigailStev commented on #252
I believe Lightcurve uses np.histogram to make a light curve of counts out of photon events.

[2017-08-31 22:44] abigailStev commented on #252
I can take a look at re-doing the Lightcurve class for a pull-request this weekend.

[2017-08-31 22:46] omargamal8 commented on #252
Yes, it is used in `Lightcurve.make_lightcurve` more specifically:
[code]

[2017-09-09 08:02] matteobachetti opened #257 "Warning on unequally spaced time array always on with GTIs"
If GTIs are applied to a light curve, the warning is always on. I don't think this is the wanted behavior, because it scares people in situations that ~are~ should be perfectly safe.

We should make sure that this equal spacing is only checked for valid intervals.

[2017-09-19 14:59] M-L-Parker opened #262 "Covariance spectra from lightcurves?"
Hi! I'm trying to calculate the covariance spectrum based on a set of simulated lightcurves, but the Covariancespectrum classes require an event list. Would it be possible to add an option to use lightcurves instead, for when event lists are not feasible?

Since all my data is (currently) simulated, the time and energy resolutions are pretty arbitrary, but I'd like to bin it to ~100 lightcurves sa

[2017-09-19 15:09] dhuppenkothen commented on #262
Hi!
That seems like it should be possible. In your case, you would have already made light curves in different energy bands as well as a light curve in your reference band and would want to put that into the code? Or what would your input be?

[2017-09-19 15:15] M-L-Parker commented on #262
That was what I was thinking, yes!

[2017-09-20 19:56] dhuppenkothen commented on #262
Ok, cool. I think that should be possible, but it requires one of us to dig through the guts of that code for a bit. How urgent is this? I can prioritize it for this week if you need it right away, otherwise I might get to it next week rather than this.

[2017-09-20 20:01] M-L-Parker commented on #262
Great, thanks! There's no rush, I'm moving next week so won't be doing much work anyway -
 whenever you can get to it is fine!

[2017-10-08 10:53] matteobachetti commented on #166
Fixed now

[2017-10-08 10:53] #166 closed

[2017-10-17 11:26] shahidikram0701 commented on #252
Hey, I'd like to take a shot at this one.

[2017-11-08 11:00] astrofrog opened #274 "Astropy Affiliated Package Review"
This package has been reviewed by the Astropy coordination committee for inclusion in the Astropy affiliated package ecosystem.

We have adopted a review process for affiliated package that includes assigning quantitative ‘scores’ (red/orange/green) for different categories of review. You can read up more about this process [here](https://docs.google.com/document/d/15PJf2PROXMa7xwTDvWnjXB_9KNuO2Ia

[2017-11-08 11:46] matteobachetti commented on #274
Thanks @astrofrog!
Just one comment about modeling: we discussed the issue (using `astropy.modeling` vs. `scipy.optimize`) and there was something missing in Astropy for the things we wanted to achieve (maximum likelihood, maximum a-posteriori fitting), so we used the underlying Scipy functions + a few convenience functions from Astropy to manage the parameter bounds and probably something more (@

[2017-11-08 12:30] astrofrog commented on #274
@matteobachetti - yes it would be great to try and improve astropy.modeling to suit your needs. In fact with @dhuppenkothen and others we started a discussion last year at #pyastro16 about how we could improve astropy.modeling to allow more fine-grained usage with maximum likelihood etc. Maybe you could open a detailed issue in astropy core to outline what exactly you would need?

[2017-11-08 12:46] matteobachetti commented on #274
@astrofrog looks good.

[2017-11-08 12:46] #274 closed

[2017-11-08 15:23] dhuppenkothen commented on #274
@astrofrog One comment from my side: I looked at some of the machinery in `astropy.modeling`, and as @matteobachetti mentioned, it's too limited to be used for the kind of modelling we're doing in Stingray. However, if you look at the functionality in stingray, particularly the subclasses of `ParameterEstimation`, you'll see that they're fairly narrowly scoped: we're doing e.g. parameter estimatio

[2017-11-10 18:08] aarranshaw opened #275 "Power Spectra on data with regular gaps"
Hey guys, just following up on something I spoke to Abbie about. A lot of high energy data has regular gaps due to Earth Occultations and such, I'd love it if there was a feature to account for this, or just a tutorial on how to deal with the gaps so the X-ray folks can still easily do FFTs on their data.

An example: NuSTAR data has regular Earth Occultation gaps, but apart from that, I generally

[2017-11-10 18:13] dhuppenkothen commented on #275
Hi @Aarran89, welcome! We're glad you like Stingray so far.

When you say "it just ignores the gaps", do you mean you make power spectra of individual (gap-free) segments of your light curve and average them together? Because as far as I know, this is possible in Stingray already. `AveragedPowerspectrum` will take into account gtis defined in the `gti` keyword in `Lightcurve`, and it in itself has

[2017-11-10 18:39] Aarran89 commented on #275
Well, because powspec is such a black box, I can't actually tell you what happens :( I assume it takes the fft of each individual contiguous segment, then outputs the averaged power spectrum.

How do I use the `gti` keyword? `[[gti0_0, gti0_1], [gti1_0, gti1_1], ...]` - are these array indices of my `time` array, or actual times?

Thanks for the quick response!

[2017-11-10 18:42] dhuppenkothen commented on #275
Those should be actual times, not indices. I think Matteo built it to be as closely related as possible to what instruments give you.

[2017-11-10 22:19] Aarran89 opened #276 "log rebinning problems"
Hi again - getting to grips with power spectra now I've fixed the gti issue I had before. Run into a few new problems, mainly to do with log rebinning my resultant power spectrum. First thing I tried was following the tutorial:

`lcurve = Lightcurve(time,fl, err=fl_e, input_counts=False, gti=gti, err_dist='poisson')`
`lc_rebinned = lcurve.rebin(8)`
`powspec = AveragedPowerspectrum(lc_rebinned, 204

[2017-11-10 22:45] dhuppenkothen commented on #276
No need to apologize; this is what we're here for.

Your first error is a bug, I think. `rebin_log` is a method of the class `AveragedPowerspectrum`, so it should be called on the *object*, not the *class definition*. So the line

`log_rb_ps, log_rb_freq, binning = AveragedPowerspectrum.rebin_log(powspec,f=0.02)`

should instead read

`log_rb_ps, log_rb_freq, binning = powspec.rebin_log(f=0.02)`

[2017-11-10 22:50] Aarran89 commented on #276
Oh yeah I forgot to also mention that `TypeError: 'AveragedPowerspectrum' object is not iterable` gives me the same error, I tried it both ways before submitting the issue!

`/Users/aarranshaw/anaconda/envs/astroconda/lib/python2.7/site-packages/stingray-0.1.dev1273-py2.7.egg/stingray/utils.py:244: ComplexWarning: Casting complex values to real discards the imaginary part
  x.astype(np.double), y.

[2017-11-11 11:41] matteobachetti commented on #276
@Aarran89 The problem is that we changed the API there. `powspec.rebin_log` now returns a `Powerspectrum object`!

So your line should say something like

[code]

We _really_ need to change the docs. Thanks for reporting this!

[2017-11-11 11:46] matteobachetti commented on #276
@dhuppenkothen I would prefer to change the docs instead. If bins are not constant, substituting the bin edges with the meanpoints might produce small numerical errors when calculating back the edges, creating overlapping or non-contiguous bins (which might not be a big deal sometimes, but it does create side effects when using response matrices, for example).
So, I'd say that having the edges the

[2017-11-11 18:02] dhuppenkothen commented on #276
I was worried that this meant the definition of `Powerspectrum.freq` differed depending if it was rebinned or not, but it turns out `rebin_log` in `Crossspectrum` (and by extension `Powerspectrum` and the averaged versions) does the right thing and shifts the frequencies to mid-bin before adding them to to the `freq` attribute of the new object.

[2017-11-11 18:50] #252 closed

[2017-11-14 16:49] dhuppenkothen commented on #276
@Aarran89 Sorry, science happened, but I'm going to try and help you fix this problem. Would you be willing to share your data somewhere so that I can try to reproduce your problem?

[2017-11-14 16:50] dhuppenkothen commented on #276
@Aarran89 Did Matteo's fix work? Does it produce a binned power spectrum now or do you still get errors?

[2017-11-14 16:52] Aarran89 commented on #276
@dhuppenkothen Sorry, weekend got in the way! I will get back to you when I try this fix!

[2017-11-14 17:01] Aarran89 commented on #276
Well, that was an easy fix. Yep, it looks like it works. I'll keep poking around to make sure it's doing it correctly, but I'm fairly certain that it is. Thank you @dhuppenkothen and @matteobachetti  for this fix, you guys are the best!

[2017-11-14 17:03] dhuppenkothen commented on #276
Great! Glad it's working. Thanks for catching that our docs weren't up to date!

[2017-11-14 17:59] dhuppenkothen opened #278 "There are no tests for `rebin_data_log` in `utils.py`"
this function lacks test coverage! This seems like a nice issue for someone to dip their toes into the open-source pond. :)

[2017-11-15 20:06] dhuppenkothen opened #280 "`Lightcurve.rebin` does not take into account GTIs correctly?"
I just tried rebinning a NuSTAR light curve including gaps encoded in GTIs, and the behaviour of the rebinned light curve was pretty unexpected (see attached plot). I'm suspecting that there's a bug in `rebin` that doesn't take GTIs into account correctly?

![herx1_rebin_failure](https://user-images.githubusercontent.com/5237391/33140262-51e3119c-cf64-11e7-81f8-386eaa628ff5.png)

[2017-11-15 20:30] dhuppenkothen commented on #262
hey @M-L-Parker: We recently merged PR #270, which allows you to input light curves into the `Covariancespectrum` class. If you're interested, we'd love it if you tried out the new code! Sorry it took so long!

Unfortunately, we haven't yet had a chance to write a tutorial notebook (I've recently moved, too, and I'm not a great expert at covariance spectra, anyway), but hopefully the for the class

[2017-11-20 15:39] matteobachetti opened #282 "Manage incompatibilities in old Python and library versions"
The recommendations contained here are very useful: http://www.python3statement.org/practicalities/
Also, see the fine-grained dependency management that the new configuration file `pyproject.toml` allows: https://github.com/PyWavelets/pywt/pull/321/files
In any case, it will be necessary to ditch `python setup.py install` in favor of `pip install [-e] .` and use `pip>=9.0.1` and `setuptools>=24.3

[2017-12-12 17:12] matteobachetti opened #285 "In `Powerspectrum`, the calculation of rms and rms error are wrong"
I could see two problems with the method `compute_rms` and the related `_rms_error`:

1. It just sums over the powers, without eliminating the white noise level

2. The error is always assumed in Leahy normalization!

[2017-12-17 14:33] ricardovb opened #286 "'AveragedCrossspectrum' object has no attribute 'pds1'"
'AveragedCrossspectrum' object has no attribute 'pds1'
Python:  File "stingray/crossspectrum.py", line 771, in time_lag
Python:  File "stingray/crossspectrum.py", line 745, in coherence
Python:  unnorm_powers_avg_1 = self.pds1.power.real

Looks like _make_auxil_pds cant create the pds1.

Steps to reproduce:

-Launch DAVE
-Load File: PN_Clean_sb1 (https://drive.google.com/file/d/1EvML0-5hOJ97_wh8h_

[2017-12-17 23:25] ricardovb opened #287 "Strange or debuging messages on CovarianceSpectrum.py"
Looks like there are missed or forgotten print commands on CovarianceSpectrum

Also looks like the type of data of covar attribute has changed. now only has one dimension when usually had 2 dimensions.

Python: I have multiple ref_band_interest!
Python: I am in the wrong place!
Python: Band interest: [[  0.211362     1.27430048]
Python:  [  1.27430048   2.33723896]
Python:  [  2.33723896   3.40017

[2017-12-18 12:25] mkenne15 opened #288 "Examples of generating power law spectra"
Hi there,

I've been toying with using stingray to create light curves based on power law spectra. In the documentation, this is done using lc = sim.simulate(2) (for a power law of 2). When playing with this, I found that doing lc = sim.simulate(1.2) would fail. It looks like the code defaults to using User-defined Model instead of a power law if the code is run like this. The error is:

---------

[2017-12-18 14:02] mkenne15 commented on #288
How bizarre. I found that in whatever version of the software I had installed through pip, line 126 of simulator.py read
`        if isinstance(args[0], numbers.Integral) and len(args) == 1:
return self._simulate_power_law(args[0])`

when it should have read
``        if isinstance(args[0], (numbers.Integral, float)) and len(args) == 1:
return self._simulate_power_law(args[0])``

This was causing

[2017-12-18 17:04] matteobachetti commented on #288
Oh, ok @mkenne15.
Thanks for reporting the Issue and keeping us posted about it!
Time to release a new version on pip @dhuppenkothen @abigailStev :)

[2017-12-18 17:04] #288 closed

[2017-12-18 17:19] matteobachetti commented on #286
@ricardovb so you are calculating a cross spectrum with a single light curve, right?
So, I don't expect you to calculate a cross spectrum
In this case, pds1 and pds2 are not calculated, because they are exactly equal to pds.

[2017-12-18 18:42] matteobachetti commented on #287
@ricardovb It looks like the _old_ version was wrong, it was a list of `key, value` instead of just `value`. You should be safe by considering a single array for `self.covar` and `self.covar_err`.
The warning about multiple` ref_band_interest` is weird O_o

[2017-12-19 11:01] matteobachetti opened #290 "Merge/Adapt CovarianceSpectrum with VarEnergySpectrum"
We should use the new improved machinery in `CovarianceSpectrum` (input light curves and such) also for the `RmsEnergySpectrum`, `LagEnergySpectrum` etc. classes, currently based on `VarEnergySpectrum`. Let's find a way to do that!

[2017-12-19 22:54] ricardovb commented on #286
@matteobachetti The light curves that Im using are not equal, On is the total lightcurve and the other is the one filtered for the range A. Please take a look to the linked file and follow the steps to reproduce. This worked for me until last Stingray update. Thanks.

[2017-12-19 23:21] ricardovb commented on #287
Great, Im going to change DAVE, thanks for the info.

[2017-12-19 23:58] ricardovb commented on #287
Changes done, Its working now. Thanks. I think this issue can be closed at all. I attach an image of the plot result. Do not inhesitate of suggesting changes or bugs.

The plot has been created with DAVE using this events file: PN_Clean_sb1 (https://drive.google.com/file/d/1EvML0-5hOJ97_wh8h_STJoUig5wpp5tP/view?usp=sharing) and this RMF file:
[PN.rmf.zip](https://github.com/StingraySoftware/stingr

[2017-12-20 10:42] #287 closed

[2017-12-29 20:12] #285 closed

[2018-01-07 20:20] ricardovb opened #292 "LightCurve.baseline(offset_correction=True) throws and exception with to much GTIs"
When calling LightCurve.baseline(offset_correction=True) an exception is thrown:

Message: Improper input: N=1 must not exceed M=0

Dave get_lightcurve parameters:
-"filename":"/Users/ricardo/TimeLab/PN_evt.fits" ->
 Download it here: (https://drive.google.com/file/d/1BWx598pXEBvcG_RYY7FnJRcEkI7EI9Aq/view?usp=sharing)

-"meanflux_opts":{"niter":10,"lam":1000,"p":0.01},
-"filters": {"table":"EVENTS

[2018-01-13 13:18] pbalm commented on #292
It would already help if the error message on the exception would provide more context about what the problem is (and what m and n refer to).

[2018-01-20 23:25] matteobachetti opened #293 "Phase-resolved spectra of QPOs"
Quasi-periodic oscillations are the "heart-beat" of black holes and neutron stars: oscillations with changing phase and frequency, probably due to the complicated motion of matter around these objects. Besides characterizing how these frequencies evolve in time (accelerate, decelerate, for example, when the luminosity increases), it is important to understand their exact physical meaning. A few ex

[2018-01-22 04:10] abigailStev opened #294 "API for XSPEC"
Develop a modular python API to use XSPEC (one of the main packages for X-ray spectroscopy; https://heasarc.gsfc.nasa.gov/docs/xanadu/xspec/manual/XspecManual.html) in python workflows. In effect, this will liberate the XSPEC model library, without requiring them to be fully re-written in python.

[2018-01-22 17:39] swapsha96 opened #296 "No Github integration that checks code style errors"
According to [PEP8 Speaks](https://pep8speaks.com/)' website:

This is a helpful tool to maintain consistency in coding style.

[2018-01-22 18:39] swapsha96 commented on #250
![stingray_logo_sample](https://user-images.githubusercontent.com/14021461/35237504-dfc18c9a-ffd0-11e7-8430-cbc42b5b33fc.png)

I hope this is appreciable.

[2018-01-22 19:17] swapsha96 commented on #83
@dhuppenkothen In your last comment, you mentioned about putting a warning? Does something like this look right?
![https://img.shields.io/badge/stage-pre--release-green.svg]
If it looks good, I will create a PR.

[2018-01-22 20:08] rtanmay commented on #282
I have a doubt, if we do ``pip install [-e]`` instead of ``python setup.py install`` ,then we won't have to install dependencies from requirements.txt separately right?

[2018-01-22 21:08] rtanmay commented on #276
@dhuppenkothen @Aarran89 Hi, is this issue resolved? as it is still shown open.

[2018-01-22 21:14] matteobachetti commented on #276
Thanks for the reminder @rtanmay. Closing

[2018-01-22 21:14] #276 closed

[2018-01-22 21:32] rtanmay opened #297 "Numba is not added to be installed in dependencies either in requirements.txt or install_requires"
In many places, ``Numba`` is checked whether it is there or not,*if not then an empty decorator is created.*

``Numba`` imports ``jit``, and generates optimized machine code improving speed.

However Numba further rquires the following dependencies:
    1)llvmlite   **Have to be added**
    2)numpy   **already there in requirements.txt**
    3)funcsigs (for Python 2) **As stingray aiming for compa

[2018-01-22 21:46] matteobachetti commented on #297
@rtanmay for various reasons, `numba` is optional for now. We don't want to add too many dependencies if possible.
We should not care, also, about `numba`'s dependencies: if people want to add numba, they will install it with its dependencies.

[2018-01-22 21:48] rtanmay commented on #297
@matteobachetti ok, thanks :) Closing this issue

[2018-01-22 21:48] #297 closed

[2018-01-23 02:15] swapsha96 commented on #282
@rtanmay Both commands have nothing to do with `requirements.txt` as they both look for `setup.py'. Txt is just a file to provide a list of required dependencies.

@matteobachetti Is it a good idea to put `requirements.txt` in a folder and create multiple files according to user's need. It could me named `base` but another could be `dev` which also contains packages like `pytest`. Does it sound go

[2018-01-23 02:57] #296 closed

[2018-01-23 03:27] rtanmay commented on #282
@swapsha96 thanks for clearing that :)

[2018-01-23 09:58] matteobachetti commented on #282
@swapsha96 let's not complicate things for now, unless there is a clear need. Let's choose one way to install the software, and go for it.
@dhuppenkothen @abigailStev @pbalm @smigliari this discussion is important before the busy week and the release

[2018-01-23 12:15] swapsha96 opened #299 "Sorting in Lightcurve"
The Sorting section in [Lightcurve notebook](https://github.com/StingraySoftware/notebooks/blob/master/Lightcurve/Lightcurve%20tutorial.ipynb) has some issues. Right now, it looks something like this:
![old](https://user-images.githubusercontent.com/14021461/35274810-8aef4a0c-0063-11e8-8848-edf64e74f33c.png)
But there are two issues in this:
- Copying of Lightcurve doesn't work
- Index in the last

[2018-01-23 12:25] swapsha96 commented on #299
When I ran the kernel, it looked like this:
![screenshot from 2018-01-23 17-45-46](https://user-images.githubusercontent.com/14021461/35275348-71c3b908-0065-11e8-8f5b-255954900ebd.png)

[2018-01-23 17:15] swapsha96 commented on #299
@matteobachetti @dhuppenkothen

[2018-01-23 17:16] swapsha96 commented on #299
@matteobachetti @dhuppenkothen @abigailStev ping

[2018-01-24 20:33] abigailStev opened #301 "Optimization idea"
One of the ways we could optimize Stingray (which would also be more in line with my own analysis workflow) is to only read in one segment at a time into a light curve object, take the power spectrum, cross spectrum, whatever, then keep running averages of those quantities as you step segment-by-segment through the data file(s) (running sums really, with a divide by number of segments at the end).

[2018-01-24 20:46] abigailStev commented on #280
Can I close this issue? It looks like a solution was merged. @dhuppenkothen @matteobachetti

[2018-01-24 21:11] abigailStev commented on #262
@M-L-Parker Have you had a chance to try out the code? I can put 'making a tutorial for `Covariancespectrum`' on my to-do list if there isn't one already.

[2018-01-24 21:12] abigailStev commented on #250
Ooh!

[2018-01-24 22:28] dhuppenkothen commented on #262
I don't think there is one, because I didn't have a good data set to try it out on, and I wasn't sure how to simulate one. If you wanted to make a tutorial, that would be ace!

[2018-01-25 09:24] matteobachetti commented on #280
Yep!

[2018-01-25 09:24] #280 closed

[2018-01-26 14:06] M-L-Parker commented on #262
Afraid I haven't had time to check it out yet, I got suddenly busy, but I should be able to next week some time.

[2018-01-27 01:02] swapsha96 commented on #152
I would like to work on this issue. I wanted to know if separate `read()` and `write()` functions for each class are expected or `io.read()` and `io.write()` are expected to works the same way for all classes.

[2018-01-30 16:49] swapsha96 opened #304 ""Mask is eliminating all elements and transforming counts_cont_init into a single value""
Since I am not an astronomer, I am going through the Jupiter-notebooks to understand the basics of stingray and its application. I am unable to run 'Analyze light curves chunk by chunk' kernel. I am getting following error:-
![screenshot from 2018-01-25 14-49-36](https://user-images.githubusercontent.com/14021461/35578963-826cffa2-060b-11e8-85ed-dbe36b667b33.png)

[2018-01-30 17:03] swapsha96 commented on #250
@matteobachetti @abigailStev any updates on this?

[2018-02-01 17:40] dhuppenkothen commented on #292
looks like this error is thrown by `scipy.leastsq` rather than `Lightcurve.baseline`. This error is thrown when there are more parameters `N` than data points `M`. I don't know enough about what `baseline` does to debug properly, but if this is still an issue, I can try.

[2018-02-01 18:56] dhuppenkothen commented on #278
now has some tests as of PR #306

[2018-02-01 19:36] dhuppenkothen commented on #257
see PR #307

[2018-02-02 02:36] dhuppenkothen opened #308 "Update documentation and add notebooks"
to-do list items on the documentation:

- [x] make sure all classes/functions/methods have docstrings
- [x] add some better documentation around some of the subpackages
- [x] make sure all docstrings are indexed in TOC
- [x] make sure all subpackages/modules are also indexed in TOC
- [x] add notebooks repo to docs (on readthedocs)
- [ ] fix template to be similar to the astropy template
- [x] fix

[2018-02-04 09:03] evandromr opened #310 "Powerspectrum is not calculated if Lightcurve attributes are vulnerable to little endian / big endian conflict"
I recently run into a bug where after reading the lightcurve from a file I tried to create a Powerspectra and the following error was thrown:
[code]

From a little research on StackOverflow this happens because some computers have different definitions of what a double float resolution is.

The lightcurve attributes `time` and `counts` were saved as arrays of type `>f8`. manually converting the `l

[2018-02-05 18:55] dhuppenkothen opened #313 "TODO in `AveragedCrossspectrum`"
There's a `TODO` at the beginning of `_make_segment_spectrum()` in `AveragedCrossspectrum` that looks important but I don't know what it means or what to do with it:

` # TODO: need to update this for making cross spectra.`

Any ideas/comments @matteobachetti?

[2018-02-05 20:05] matteobachetti opened #314 "Failure when calculating time lags"
It can be seen in the latest PR: https://travis-ci.org/StingraySoftware/stingray/jobs/337611807
It doesn't seem to be related to the PR itself, and I can't reproduce it in my current setup, so I guess it is related to some of the dependencies. Investigating the issue

[2018-02-05 20:23] dhuppenkothen opened #315 "`_isattribute` in `io.py` not general enough?"
I am moderately concerned that our `_isattribute(data)` function in `io.py is not general enough.

This function checks whether the data is a single number or an array, by running `isinstance` for `numpy.ndarray` and `list`.

My feeling is that `isinstance` is perhaps not the best way to go about this? What, for example, if `data` is a tuple or a set?

I'm wondering whether one can e.g. transform

[2018-02-05 23:38] dhuppenkothen opened #316 "`RmsEnergySpectrum`, `LagEnergySpectrum` and `ExcessVarianceSpectrum` need docstrings!"
Neither of these three classes have docstrings.

If someone would feel compelled to spend 30 minutes writing down what they are, what the parameters are and how to run them, that would be *fantastic*.

Ideally, it should not be me, because I barely know what they are. :)

[2018-02-05 23:40] abigailStev commented on #316
Ok!

[2018-02-06 01:27] dhuppenkothen opened #317 "Some functions in pulse.search need docstring improvements"
There are a few docstrings in `pulse.search` that don't state their return variables in the docstring.

These are:
* `epoch_folding_search`
* `z_n_search`

This would be useful to have, because `_folding_search` has no docstring at all, so it's really hard to know what's coming out of those functions.

[2018-02-06 01:33] dhuppenkothen opened #318 "Simulator urgently needs improved documentation"
It's very unclear from the docstring how the simulator method works. I think there's some extra documentation in a doc that we can include, but I think the docstring could do with some improvements if someone has the time/motivation

[2018-02-06 08:08] swapsha96 commented on #67
@dhuppenkothen Is something left in this issue? `pip install -e . --upgrade` worked for me and I added a badge in PR #305.

[2018-02-06 08:14] swapsha96 commented on #117
Is this issue a part of 'Optimize Stingray for Large Datasets' project under GSoC 2018?

[2018-02-06 08:18] swapsha96 commented on #315
@dhuppenkothen I would like to work on this. Could you please share more details about what the function should do?

[2018-02-06 08:57] swapsha96 commented on #243
@matteobachetti I would like to work on this. I wanted to know all the requirements for this? Do I need to create all the function that are in [hendrics/io.py](https://github.com/StingraySoftware/HENDRICS/blob/master/hendrics/io.py)?

[2018-02-06 10:47] matteobachetti commented on #243
@swapsha96 no, it is just a periodogram like Powerspectrum that contains frequencies and EF statistics. `io.py` contains a lot of functions that are not needed in Stingray.

[2018-02-06 10:51] matteobachetti commented on #318
@dhuppenkothen have you seen this? https://github.com/StingraySoftware/notebooks/blob/master/Simulator/Simulator%20Tutorial.ipynb
I will work on the docstrings

[2018-02-06 11:07] matteobachetti commented on #317
@dhuppenkothen I fixed these docstrings and more failures in docs building in commit ea994c5796f8fd

[2018-02-06 12:06] matteobachetti commented on #286
@ricardovb when I load those files, I see that no PI filtering is applied, so this might well mean that those light curves are the same. Is there an easy way to get some more debugging information without messing with the source code?

[2018-02-06 17:24] dhuppenkothen commented on #317
Awesomesauce. Is this merged yet?

[2018-02-06 17:25] dhuppenkothen commented on #117
I think it should be.

[2018-02-06 17:26] dhuppenkothen commented on #67
Nope, all fixed. Thanks :)

[2018-02-06 17:26] #67 closed

[2018-02-06 18:20] matteobachetti commented on #317
No, it's part of the PR about TOAs

[2018-02-08 12:22] swapsha96 opened #321 "Folders to put in .gitignore"
I ran `pytest` and found following new folders:-
![screenshot from 2018-02-08 17-30-05](https://user-images.githubusercontent.com/14021461/35972641-b201178c-0cf8-11e8-8e2d-26b27bab6072.png)

I think it would be good to put them in  `.gitignore`. What do you say?

[2018-02-08 12:57] #278 closed

[2018-02-08 12:59] matteobachetti commented on #275
@Aarran89 is this Issue solved for you? Do you have any remaining questions?

[2018-02-08 13:00] #257 closed

[2018-02-08 13:02] matteobachetti commented on #250
@swapsha96 can you open a PR with this logo?

[2018-02-08 13:14] matteobachetti commented on #321
Sure

[2018-02-08 13:33] swapsha96 commented on #299
@matteobachetti I'm closing this issue.

[2018-02-08 13:33] #299 closed

[2018-02-08 13:56] #321 closed

[2018-02-08 16:21] matteobachetti commented on #304
It was a wrong call to baseline_als. I fixed the notebook in PR 32 of the notebooks repo. Thanks for reporting this @swapsha96 !

[2018-02-08 16:21] #304 closed

[2018-02-08 17:36] #292 closed

[2018-02-08 21:29] dhuppenkothen opened #325 "Can we make Stingray conda-installable?"
I don't know how much work this would be, but it would be *fantastic* if Stingray were conda-installable!

[2018-02-09 08:59] evandromr commented on #325
I can look at this over the weekend, I did it once and it was super easy. And if Stingray already works with pip it should be a breeze :)

[2018-02-09 16:45] matteobachetti commented on #325
https://github.com/conda-forge/staged-recipes/pull/5124#issuecomment-364458517

[2018-02-09 20:22] #314 closed

[2018-02-09 20:22] #317 closed

[2018-02-09 20:24] dhuppenkothen commented on #308
all done except for the astropy template! 🚀

[2018-02-10 11:52] #308 closed

[2018-02-10 11:52] #316 closed

[2018-02-12 09:35] M-L-Parker commented on #262
Tried it out at the end of last week, seems to be working as intended, thanks!

[2018-02-12 14:12] matteobachetti commented on #262
Thanks! @M-L-Parker

[2018-02-12 14:12] #262 closed

[2018-02-12 16:46] swapsha96 commented on #70
@matteobachetti Is it okay to close this issue?

[2018-02-12 16:51] swapsha96 commented on #250
@matteobachetti close?

[2018-02-12 16:56] #70 closed

[2018-02-12 16:56] #250 closed

[2018-02-12 17:28] evandromr commented on #318
This can be closed too, no? Or are there still things missing from the docs?

[2018-02-12 17:34] dhuppenkothen commented on #318
Yup, this can be closed.

[2018-02-12 17:34] #318 closed

[2018-02-12 19:10] swapsha96 opened #329 "Broken 'Edit on Github' links in the documentation"
Pages like [this one](https://stingray.readthedocs.io/en/latest/notebooks/Modeling/ModelingExamples.html#Likelihoods-and-Posteriors) have `Edit on Github` button that don't work. There's a simple solution to this but sadly I cannot recall that. I have somewhere something that solves the problem.

[2018-02-12 19:18] swapsha96 commented on #329
Where do I find latest docs to compile?

[2018-02-12 19:50] matteobachetti commented on #329
@dhuppenkothen is fixing a build error

[2018-02-12 20:06] dhuppenkothen commented on #329
current documentation builds from the StingrayDocs repo, but let me fix some bugs first!

[2018-02-14 08:50] evandromr commented on #325
`conda install -c conda-forge stingray` Works :tada:

Ready to close this issue

[2018-02-14 08:51] evandromr commented on #325
Also, We might want to add that to the docs :)

[2018-02-14 11:20] #325 closed

[2018-02-17 12:47] achillesrasquinha commented on #173
Closing due to inactiveness.

[2018-02-17 12:47] #173 closed

[2018-02-21 10:43] swapsha96 commented on #98
@matteobachetti I have worked with FITS file before so I know a little bit about data structure. How do I start working on this?

[2018-02-21 10:48] swapsha96 commented on #186
@matteobachetti I think some of them are completed. Please update the checklist.

[2018-02-26 14:41] #282 closed

[2018-02-28 07:44] Kai-FengChen commented on #315
I would like to propose another idea by checking if the input data is iterable instead of checking its attribute. This could easily be achieved by catching `TypeError` when trying sth. like `(i for i in data)`.

[2018-02-28 10:11] swapsha96 opened #337 "Absolute RMS Normalisation is missing"
I was going through `PowerSpectrum` class that provides `compute_rms` to calculate fractional and Leahy norm. I wanted to add absolute RMS norm. There's a function in `cross_correlation` repo ([link to the function](https://github.com/abigailStev/cross_correlation/blob/master/ccf.py#L579)) but I don't know how to calculate `mean count rate` here. Please help.

Also, what is the difference between

[2018-02-28 18:02] abigailStev commented on #337
Hi @swapsha96 ! Taking a look at this now.

[2018-02-28 18:07] abigailStev commented on #337
It's ok, I get confused with the mean count rate stuff in stingray too (since how it's done in stingray isn't how I think about it or know it).
Stingray has `nphots`, which is the total number of photons. If you divide that by the exposure time (the time duration of the data) then you get the mean number of photons detected per second, which is the mean count rate.

[2018-02-28 18:14] abigailStev commented on #337
We do use `self.meancounts1` and `self.meancounts2` in `Crossspectrum._normalize_crossspectrum` for the normalization equations.

[2018-02-28 19:21] abigailStev commented on #337
I should also add: the absolute-rms-normalized integrated rms (between two frequencies) isn't written because it's not physically meaningful and generally not reported, hence why it's not already there. But completeness is good, and it will be necessary for the normalization of the phase-resolved spectra!

[2018-03-15 16:38] dhuppenkothen opened #339 "Implement classical_significances for cospectra"
We should implement the equivalent of `classical_significances` for cospectra, using the distributions in [this paper](http://adsabs.harvard.edu/abs/2017arXiv170909666H).

[2018-03-19 14:04] JumBe08 commented on #339
Hi. Trying to tackle my first issue here =]
I've just got the paper and im currently going through it. The idea is to write a module that implements the functions on section 2?

[2018-03-19 15:25] dhuppenkothen commented on #339
hi @JumBe08! Welcome! :)

The class `Powerspectrum` has a method `classical_significances`. The idea is to have a similar method in `Crossspectrum` and `AveragedCrossspectrum` that basically overrides what's in `Powerspectrum` for these two classes. Does this make sense?

[2018-03-19 15:55] JumBe08 commented on #339
I've found the classes in the code, but i'm still trying to make sense of what's going on so i can proceed without requiring help step by step. I think i've got most of the basics from mechanics and signal processing courses, but there are some things that i'm still missing, like normalizations and p-values.
I'll be reading the paper you referenced and see what else i can grab to make something ha

[2018-03-20 09:12] martin591995 commented on #339
Hi all! I was working on this issue the last few days and I think I solved it.
@JumBe08 I hope you can reproduce my result!

[2018-03-20 16:15] JumBe08 commented on #339
I'll try to, but I'll still take some time, since i only started to work on it yesterday.

[2018-03-22 20:08] abigailStev opened #341 "Notebook on fitting power spectra"
I got a question from Paul Ray on having a more pythonic way to fit for QPOs in power spectra instead of porting to XSPEC and then ending up with weird units. It would be great for someone to set up tutorials showing this with astropy.modeling!
The problem is that currently, for X-ray timing experts using XSPEC, they can very very quickly make an averaged power spectrum for a set of observations,

[2018-03-22 20:28] evandromr commented on #341
I've tested stingray's fitting methods a while ago and they seemed to work pretty good. The only problem is that we have to setup the priors and initial parameters very well and by hand. I had several cases where the fits would not converge or would converge to values that are obviously not what I was trying to fit. It ended up taking way longer than doing it on Xspec/QDP, etc..

An example with g

[2018-03-22 20:32] abigailStev commented on #341
Thanks! I remembered that someone had worked with the power spectra modeling but didn't remember who and when. Let's make the issue then to make a notebook tutorial on it and clearly link to it in the documentation.

[2018-03-22 20:50] dhuppenkothen commented on #341
Happy to write a dedicated tutorial for this. There’s also a fit_lorentzians helper function, as far as I remember, that makes things easier. Anyone have a nice example dataset they’d like to donate for the task?

@evandromr: you only need to set up priors if you want to fit the posterior or do MCMC. If you have suggestions for generic priors that would be general enough for QPO modeling, it might

[2018-03-22 20:53] abigailStev commented on #341
Emailing one to you now. It's RXTE, GX339-4, has all 5 PCUs on, should have
a good Type B QPO around 5.6 Hz. I've already applied a GTI to it so it's
just the good events.

On Thu, Mar 22, 2018 at 4:50 PM, Daniela Huppenkothen <
notifications@github.com> wrote:

[2018-03-22 21:08] dhuppenkothen commented on #341
Awesome. I’ll try to get to that tomorrow on my flight home. :)

[2018-03-23 08:20] martin591995 commented on #339
Hey! After solving some issues (I pushed straight to the master branch) I created a new PR! #343
Thanks for any feedback!

[2018-03-23 10:57] evandromr commented on #341
[https://gist.github.com/evandromr/bc16d61259fd2e416803484460dc96d3#file-stingray_azguide-ipynb](https://gist.github.com/evandromr/bc16d61259fd2e416803484460dc96d3#file-stingray_azguide-ipynb
)

I made a quickly notebook of what I would expect in an example, I can work on this to make it more didactic and user friendly.
But would also benefit from other study cases where, for example, the shape of

[2018-04-25 07:46] evandromr commented on #301
Following up on this: I think it can be solved by generalizing `AveragedPowerspectrum` to be be created from a file instead of a `Lightcurve` object.

We can use `astropy.io.fits` with `memmap=True` to open the event file on disk (not on memory), and only access the segments of interest.
It will then only have to create lightcurves of size `segment_size` which will be cleaned up from memory immedi

[2018-04-26 08:36] evandromr commented on #91
Hi,

I've been playing around with Astropy tables and it really works well, including the `group_by` method which makes binning really easy.

Do we still want to use it for our Class objects (`Lightcurve`, `Crosspectrum`, `Powerspectrum`) ? If so I can give this issue a shot.

pint @dhuppenkothen @matteobachetti

[2018-05-14 20:08] abigailStev commented on #301
I started a proposal document to outline this idea better (in the way my brain thinks of it) to help guide the discussion! https://github.com/abigailStev/stingray-avg-structure-proposal

[2018-05-15 10:58] evandromr commented on #301
Do you have any experience in how `astropy` can interact with remote data?
 In your example, would we still need to "download" the table to local memory before working on it? Or would something like `memmap` works for a table that's not on the local disk but in a remote address?

[2018-05-24 21:51] tetarenk opened #347 "Support for unevenly sampled data"
I was wondering if the stingray routines have support for analysis of unevenly sampled data.

For example, I am experimenting with using Stingray to do a timing analysis of radio frequency data, where my lightcurves are made up of multiple scans of continuous data separated by shorter gaps (kind of like NuStar lightcurves, but the timing of the gaps is not always regular).

[2018-06-01 17:39] dhuppenkothen commented on #347
At the moment, many of our methods are based on Fourier analysis, so are strictly only valid for evenly sampled data (the statistics get wonky on unevenly sampled data).

This is a function of of what most of the core developers work on, but we'd very much like to support unevenly sampled data in the future. Are there any methods you're particularly interested in?

[2018-06-15 18:32] dhuppenkothen opened #350 "AveragedCrossspectrum does not work with a list of Lightcurve objects"
Our documentation states that the class `AveragedCrossspectrum` can be instantiated with either a single `Lightcurve` object or an iterable of `Lightcurve` objects (in two bands, of course).

However, trying to do the latter (i have a data set that's too big that I could easily make a single light curve out of it, so I chopped it up), fails with a `ValueError: Invalid time interval for the given G

[2018-06-17 10:11] swapsha96 commented on #350
I am not familiar with GTIs but I tried to debug to understand where things go wrong. So, following is the start(`time1[0]`) and end(`time1[-1]`) of some light curves:
[code]
One thing for sure is that minimum gti of cs is less than (or equal to) end time of a light curve **and** maximum gti of cs is greater than (or equal to) start time of a light curve. (This wasn't obvious for me before).

In t

[2018-06-18 09:54] matteobachetti commented on #350
@swapsha96 very good catch. I would make a small change: we can use the internal GTI manipulation routines (`stingray.gti.append_gtis()`) instead of `np.concatenate`.
For your last question, we just mean that we find in the `time` array the bins corresponding to the boundaries of the GTIs.

[2018-06-18 17:51] swapsha96 commented on #350
@dhuppenkothen @matteobachetti Does it look like there's some problem in it? Since no one is assigned, could I create a PR?

[2018-06-29 21:51] tetarenk commented on #347
Thanks for the reply! I figured your routines only did the evenly sampled data, although I do see that you have support for GTIs. Could you explain to me how the code uses the GTIs, for example when the GTIs are used in the average power spectrum routine?

In terms of the methods for unevenly sampled data, I would be mainly interested in the power spectra/cross-spectra methods. I feel like I have

[2018-06-29 22:32] dhuppenkothen commented on #347
GTIs are used for example when making averaged power spectra (in class `AveragedPowerspectrum`) in the sense that the segments made (as defined by the keyword `segment_size`) will only be constructed *within* the limits of the GTIs. I think @matteobachetti probably has a better overview of all the methods that actually use the GTIs.

For unevenly sampled data, the situation gets much harder, becau

[2018-07-02 18:34] tetarenk commented on #347
Thanks for the info!

Essentially with this work we are trying to characterize radio flux variability from XRB jets, so we are exploring what timing methods can tell us the most about the radio variabilty signals right now.
While we set up our radio observations so that we do have continuous sections of data to do a Fourier analysis on, I was just curious about the unevenly sampled methods for fut

[2018-07-16 09:29] swapsha96 opened #354 "[Discussion] Python 3.7 support"
We need to add Python 3.7 tests in Travis CI build.

[2018-08-08 16:25] matteobachetti opened #355 "Implement the Fourier Amplitude Difference dead-time correction"
Implement into Stingray the technique described [in this paper](https://arxiv.org/abs/1709.09700) and coded [here](https://github.com/matteobachetti/deadtime-paper-II/tree/master/notebooks)

[2018-08-08 16:28] matteobachetti opened #356 "Implement the correct statistics for cross spectra"
The correct statistics for maximum likelihood fitting of cospectra is still missing from our codebase. It is described [in this paper](https://arxiv.org/abs/1709.09666) and implemented [in this repo](https://github.com/dhuppenkothen/cospectra-paper/tree/master/notebooks)

[2018-08-09 06:59] swapsha96 opened #357 "Implement stretch and bin to line up QPO peaks"
An example of this is in the Stevens and Uttley 2016 paper.

@abigailStev: Ask Abbie for clarification on the steps you don't understand, she can share a cleaned-up snippet of code.

[2018-08-09 07:07] swapsha96 opened #358 "Unit test for `get_phase_lag` and `get_mean_phase_difference`"
It requires creating two light curves (ref and CoI band) with the known phase lag.

[2018-08-09 07:12] swapsha96 opened #359 "Fitting phase-resolved energy spectra in Sherpa"
ToDo (by @abigailStev):
- Fitting multiple spectra from different phases simultaneously.
- This part will be in a tutorial format.
- Also want to be able to, for example, determine which parameter is varying from a large set of parameter values for different spectra, and determine the phase and rms of the variation in the parameter value. Will need to write a helper method to do this for any (arbi

[2018-08-09 07:25] dhuppenkothen commented on #359
I am confused: why do we want to fit power spectra in sherpa? Do you maybe mean energy spectra?

[2018-08-09 07:28] swapsha96 commented on #359
@dhuppenkothen  Fixed it! I am actually not familiar with all the steps. Thus, it requires more input.

[2018-08-09 07:28] dhuppenkothen commented on #359
no worries, just making sure I understand what's going on :)

[2018-08-09 14:52] abigailStev commented on #359
Energy spectra, yes.

-----------------------------
Dr. Abigail L. Stevens
Research associate
Department of Physics & Astronomy
Michigan State University
alstev@msu.edu / abigailstev@gmail.com
http://abigailstevens.com

On Thu, Aug 9, 2018 at 3:25 AM, Daniela Huppenkothen <
notifications@github.com> wrote:

[2018-08-28 22:04] dhuppenkothen opened #361 "Future GSoC Project: Implement the Multi-Taper Periodogram"
This seems like a really cool method for finding faint signals. The multi-taper periodogram reduces both variance and bias in estimates of the periodogram due to the window function.

I think what's really neat about this is that the tapers you use are orthogonal, which means you can average the periodograms from each taper together as if they came from independent segments, which reduces the vari

[2018-09-20 22:02] dhuppenkothen opened #364 "keyword `sigmaclip` in `DyamicalPowerspectrum.trace_maximum()` does nothing"
... and has no documentation. We should either remove it or make it do something and document it properly!

[2018-09-26 21:16] dhuppenkothen opened #365 "`rebin_time` and `rebin_frequency` in `DynamicalPowerspectrum` change the object of the state"
In `Lightcurve`, `CrossSpectrum` and `PowerSpectrum`, the `rebin` method returns a new object of the same type with the rebinned data. In `DynamicalPowerspectrum`, the rebinning methods change the state of the original object instead. I think it would be useful if we could unify the behaviour across all classes and have them return new objects.

[2018-10-26 23:27] jscargle opened #366 "Suggestions for additional algorithms"
Hi ... it is great to see this development!  I have gotten sidetracked matters of some gravity, and have postponed development and testing of some ideas that may be useful ...

I think there is no mention of co-spectra in your list ... maybe this is because it is more or less limited to NuSTAR data?

In any case, I would like to suggest a few things that are in development and in various stages:

[2018-10-26 23:27] jscargle opened #367 "Suggestions for additional algorithms"
Hi ... it is great to see this development!  I have gotten sidetracked matters of some gravity, and have postponed development and testing of some ideas that may be useful ...

I think there is no mention of co-spectra in your list ... maybe this is because it is more or less limited to NuSTAR data?

In any case, I would like to suggest a few things that are in development and in various stages:

[2018-10-26 23:27] jscargle opened #368 "Suggestions for additional algorithms"
Hi ... it is great to see this development!  I have gotten sidetracked matters of some gravity, and have postponed development and testing of some ideas that may be useful ...

I think there is no mention of co-spectra in your list ... maybe this is because it is more or less limited to NuSTAR data?

In any case, I would like to suggest a few things that are in development and in various stages:

[2018-10-29 14:28] dhuppenkothen opened #369 "Benchmark TensorFlow FFT compared to numpy/scipy versions"
I think it'd be instructive to benchmark how well TensorFlow FFT does compared to the Numpy and scipy versions, and if it does well, potentially offer it as an alternative for those who have TF installed?

https://www.tensorflow.org/api_docs/python/tf/spectral/fft

[2018-10-29 23:31] matteobachetti commented on #369
Why tensor flow and no, i.e., FFTW?

On Mon, Oct 29, 2018, 07:28 Daniela Huppenkothen <notifications@github.com>
wrote:

[2018-10-29 23:44] dhuppenkothen commented on #369
Because that’s what the cool kids use? 😂

But sure, I think we should do a bunch of these. Is FFTW GPU-enabled?

[2018-10-30 01:15] matteobachetti commented on #369
I think there is some porting to CUDA, not sure. It's still the fastest on
standard machines afaik. Well, let's see :)

And sure, let's also be cool 😎

[2018-11-01 15:57] matteobachetti commented on #368
Hi @jscargle, sorry for the late reply, and thanks a lot for your suggestions! Co-spectra are just included in cross-spectra, that is why we don't mention them explicitly. We do need to add the new work we've done on their statistics though :).

We have been discussing about adding some of those features but we are a small group and time is always... sparse! Can you point us to the docs or some op

[2018-11-01 16:59] jscargle commented on #368
Thanks! ... I can point you to a short and simple MatLab script that essentially updates the FORTRAN (do you remember FORTRAN?) in "Studies in astronomical time series analysis. III - Fourier transforms, autocorrelation functions, and cross-correlation functions of unevenly spaced data," 1989ApJ.,343..874 [simple to say, but a lot of sweat and tears testing and dealing with the singular case of ev

[2018-11-08 19:03] swapsha96 commented on #369
Is there any specific experiment (any page for earlier Jupyter Notebook) that we can perform and benchmark produced with one code using Tensorflow and the other using Numpy/Scipy? Also, Dask and Tensorflor do go hand-in-hand. One can be used for distributing and pre-processing data and other can be used for handling complex operations.

[2018-11-15 19:33] dhuppenkothen opened #370 "New Fitting Algorithms for Modelling"
I recently listened to a discussion about optimization algorithms, and one conclusion was that the algorithms in scipy.optimize can be quite unstable compared to some others. We should consider looking at other algorithms and implementations for making model fitting more reliable.

[2018-11-19 19:18] dhuppenkothen commented on #368
Hi @jscargle. Thank you for your suggestions! I'm curious: is the implementation in that paper different from e.g. the implementation of the Lomb-Scargle periodogram in [astropy](http://docs.astropy.org/en/stable/stats/lombscargle.html) or [gatspy](http://docs.astropy.org/en/stable/stats/lombscargle.html)?

I've sort of implicitly left out methods for unevenly sampled data, since the Lomb-Scargle

[2018-11-19 20:44] jscargle commented on #368
Hi ... the main difference is that it computes the full Fourier transform of arbitrarily spaced data.
The absolute square is then equivalent to LS ... but the implementation is different from that in astropy, but maybe only in irrelevant details connected with MatLab vs. Python.  So the main "value added" is the phase spectrum.  Let me know if you would like to see the code.

[2018-11-19 20:57] jscargle commented on #368
... oh, and you can also do the co-spectrum if you have the full FT!  In this way I have implemented a bin-free co-spectrum estimator for event (time-tagged photon) data.

[2018-11-21 23:32] annacoerver opened #373 "Determining QPO Significance"
Hi all,

I am working on determining the significance of a potential QPO and was hoping I could get some advice on how best to go about this. We've fit our CPDS with a broken power-law model and then added a lorentzian to this model, which improved our chi-squared value by about 20%.
- Are PDS and CPDS interchangeable in the stingray software? Meaning: can I use the broken power-law model shown in

[2018-11-21 23:34] dhuppenkothen opened #374 "Change Stingray Motto"
I propose to change Stingray's motto from "Time series methods for astronomical X-ray data that aren't fishy at all!" to

"Anything can happen in the next half hour (but probably spectral timing)!"

cc @abigailStev @matteobachetti

[2018-11-21 23:35] dhuppenkothen commented on #373
Can you remind me what you mean when you say "CPDS"?

[2018-11-21 23:48] dhuppenkothen commented on #373
In general, you don't want to use a chi-squared value to compare models, because they're not designed to do that.

Something you could do is fit both of your  models in Stingray and then compute the AIC and/or BIC, which are explicitly designed for model comparison (though both of them make certain assumptions).

Finally, you could also do a likelihood ratio test, where you compute the ratios of l

[2018-11-22 01:43] annacoerver commented on #373
@dhuppenkothen Thanks for all the information!
When I say CPDS I mean the cross-spectra generated with HENDRICS (specifically HENfspec) that combines the module A and B data.

[2018-11-22 06:01] dhuppenkothen commented on #373
ah! Are you averaging spectra? If so, how many?

[2018-11-28 21:38] matteobachetti commented on #373
Hi @annacoerver, HENDRICS by default averages (co/power/cross)spectra.
HENfspec divides the data into many chunks (the default length is 512 s, you can change it with the `-f` option), discarding the intervals outside GTIs. It calculates the (co/power/cross)spectrum in each chunk, then averages them all.

[2018-12-04 21:45] #293 closed

[2018-12-15 03:28] bsipocz opened #380 "Better UserWarning handling during testing"
There are way to many UserWarnings coming out of the testing suite (causing at least one of the travis jobs to terminate). Ideally the tests should avoid running into those issues except in the case when their raising is tested on a context manager.

I suppose this issue can be a nice starting point for someone new to the project and wanting to become familiar with the code base before e.g. GSoC o

[2018-12-27 17:33] shreyasbapat commented on #380
Hi! @bsipocz  @matteobachetti , I am looking forward to contribute to `stingray` . Can you please elaborate a bit what we are trying to fix here?

[2018-12-29 01:08] matteobachetti commented on #380
Hi @shreyasbapat, I'm on vacation, so sorry for the late reply. Basically, the code is throwing a lot of warnings during tests:

1. some due to deprecated use of library calls in our code (that needs to be fixed);

2. some due to bad values in our test data (which in many cases is acceptable because they're often random data and division by zero or other FPE can happen);

3. some that are wanted (

[2019-01-02 06:51] bsipocz commented on #380
I had especially the category 3 from the above list in mind when opened the issue. Ideally those warnings can and should be caught in the tests to make sure they are indeed thrown the place they are supposed to be, but not elsewhere.

[2019-01-02 08:51] shreyasbapat commented on #380
Thankyou @bsipocz  @matteobachetti ! I will get working on this issue in a day or so. :)

[2019-01-09 20:31] pllim opened #381 "Infrastructure updates notice from Astropy Project"
Hello from Astropy Project!

The following updates to your package might be necessary to ensure compatibility with the latest stable version of Astropy:

- [ ] MPLBACKEND is now set to Agg in `ci-helpers`, packages expecting interactive plotting should override it in `.travis.yml`
- [ ] Astropy 3.1 is not compatible with Numpy <1.13 versions. If you want to keep testing these older Numpy versions,

[2019-01-11 18:43] dhuppenkothen commented on #374
Changed. :)

[2019-01-11 18:43] #374 closed

[2019-01-16 01:30] matteobachetti commented on #381
@swapsha96 sure go ahead!

[2019-02-28 17:28] matteobachetti opened #389 "Add ARIMA methods and similar?"
One request from the statistical referee of ApJ is to add time-domain, autoregressive methods such as ARIMA, ARFIMA, and such.
It might be a good addition to our code. I pin it here.

[2019-03-27 17:27] dhuppenkothen opened #391 "lc.rebin does not preserve data gaps"
It seems like lc.rebin does not preserve gaps in light curves. We should probably fix that?

[2019-04-01 06:44] swapsha96 commented on #389
I have used ARIMA model (and few others) for air quality monitoring+forecasting using a network on low-cost custom devices. I am familiar with its applications and use. Could you please share more details like its examples in astronomy, use (wrt Stingray) etc? I would like to work on it.

[2019-04-01 06:46] swapsha96 commented on #370
@dhuppenkothen What's the progress on this issue?

[2019-04-01 17:48] dhuppenkothen commented on #370
None. :-(
I haven't really had time to dig into this, but I would like to, because it's high priority for making the fitting more reliable.

[2019-04-01 17:53] dhuppenkothen commented on #389
Cool! I haven't had a time to do more than glance at it, but this paper seems very relevant: https://www.frontiersin.org/articles/10.3389/fphy.2018.00080/full

The author, Eric Feigelson, is one of the main proponents of ARIMA processes in astronomy. This paper describes methods that are related: https://arxiv.org/abs/1703.09710

[2019-04-01 18:03] swapsha96 commented on #370
@dhuppenkothen Is there anything you want me to do? Anything to begin with? (I still have my Autograd code)

[2019-04-01 18:09] swapsha96 commented on #389
@dhuppenkothen I will read them this week.

[2019-05-03 12:06] Cadair opened #396 "Logo has the wrong aspect ratio in the docs"
https://stingray.readthedocs.io/en/latest/

Using Firefox on linux.

![2019-05-03-130558_grim](https://user-images.githubusercontent.com/1391051/57136265-2e474e80-6da4-11e9-9bad-ff058e40a001.png)

[2019-05-03 22:33] matteobachetti commented on #396
Weird, it wasn't like this before. Thanks!

[2019-05-10 16:58] babi8174 opened #399 "psd absolute normalization"
Hi,

My students are using Stingray for measuring power spectra. However, we noticed that something goes wrong choosing the absolute normalization. The mean count rate of the source they are analyzing is ~50 cts/s, so the power spectrum with absolute normalization should have larger values than the power spectrum with fractional normalization. Instead, they find the opposite result.
I am not very

[2019-05-10 19:01] dhuppenkothen commented on #399
Hi! Thank you for your bug report!
It's so exciting to see Stingray used.

Yes, the absolute rms norm is a known bug. We have a pull request open at #388, which we really need to merge in. I'm going to make it a priority to get that fix in ASAP.

[2019-05-13 07:49] babi8174 commented on #399
Great! Thanks!

[2019-05-14 07:34] ferrigno opened #401 "lightcurve initialization issue"
Hi
this is probably my mistake and I apologize for disturbance, but I cannot find a way out.

I try from a jupyter notebook  running python3, the following
from stingray import lightcurve
lc=lightcurve(t,r)
and I get
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-10-d061956cf5f4>

[2019-05-14 07:37] dhuppenkothen commented on #401
Hi! Thank you for submitting an issue!

I think the issue is that there is a module called `lightcurve` (which is the file called `lightcurve.py`), and a class within that called `Lightcurve`. This means that the capital letter is important here!

Can you try this:

And see whether that works? Make sure that the "L" in `Lightcurve` is capitalized, and hopefully that should fix your issue. If not,

[2019-05-14 07:51] ferrigno commented on #401
Thanks, it work and in the doc, it is indeed capitalized.
While, it is clearly my mistake, as anticipitate, I find this convention a bit unhandy.

[2019-05-14 07:51] #401 closed

[2019-05-14 23:58] matteobachetti opened #402 "Wrong errorbars in cospectra (or power spectra?)"
Jeremy Hare reports that he sees a clear mismatch between the errorbars of averaged power density spectra and cospectra in a given observation. The error bars should be similar to within a factor sqrt(2), but they differ by three orders of magnitude, so there is something fishy going on there.

[2019-05-15 00:04] dhuppenkothen commented on #402
Does he have a minimum example that I could play around with?

[2019-05-15 00:05] dhuppenkothen commented on #402
Also, should we be implementing error bars using the proper distributions?

[2019-05-15 00:19] matteobachetti commented on #402
That's a good point, but in this case it shouldn't matter too much because the number of summed spectra is quite large.

MWE:
[code]

[2019-05-15 00:31] dhuppenkothen commented on #402
so in `Powerspectrum`, the uncertainty on the power is defined as:

In `Crossspectrum`, it is defined as:

                self._normalize_crossspectrum(unnorm_power_err, lc1.tseg)

... I guess someone reported those inconsistencies? :D

I don't really know where that second code comes from, to be honest. @matteobachetti?

The second case seems to me like it might only apply in the case of white n

[2019-05-15 00:41] matteobachetti commented on #402
Oh, wow.
I'm pretty sure where the first _line_ comes from. `unnorm_power_err = np.sqrt(2) / np.sqrt(self.m)` was a good fit to the rms of the Leahy-normalized white noise cospectrum in Bachetti+15. The rest is probably trying to "unnormalize" these error values and then to use the standard methods to get them in the user-defined normalization . Going wrong, evidently.

[2019-05-15 00:44] matteobachetti commented on #402
Besides fixing this bug with an acceptable approximation (which should not be too complicated), it's time to explore this unknown territory in a proper way, anyway :)

[2019-05-20 19:29] sashank27 commented on #356
@matteobachetti I would like to work on this

[2019-05-20 20:39] matteobachetti commented on #356
Hi @sashank27, thanks for volunteering!
I think @dhuppenkothen has already done what was requested here in her PR #372, which is very close to merging.

[2019-05-21 04:48] sashank27 commented on #355
Hi @matteobachetti ! Is this issue still available?

[2019-05-21 16:14] matteobachetti commented on #355
@sashank27 yes it is!

[2019-05-21 18:44] sashank27 commented on #355
okay! I'll try to implement this. Any heads-up?

[2019-05-21 19:59] matteobachetti commented on #355
The algorithm is run through in Section 3.3 of the paper linked above, and the code is implemented in the repo I linked above (see `fad_correction.py`). The work to do here is merging it with the existing AveragedPowerspectrum and AveragedCrosspectrum machinery.

A generic averaged periodogram takes segments of a light curve recorded at the same time, calculates the periodogram in each segment, an

[2019-05-22 23:04] #396 closed

[2019-05-23 22:52] dhuppenkothen opened #404 "Different methods in `Simulator` return different answers"
When simulating periodograms using the `Simulator` class, I get realizations that look different from the input power spectrum when passing an array of powers directly. Passing an `astropy.modeling.models` instance seems to do the correct thing. We should fix this.

[2019-05-29 20:52] dhuppenkothen opened #406 "Should Stingray not throw an error when the mean light curve is < 0?"
So in general, the idea that the mean intensity in the light curve needs to be positive is helpful, because when we're working with counts, this is a reasonable assumption.

But the fact that this throws an error in `Crossspectrum` confuses me for two reasons.

One, why in `Crossspectrum`? It's not like there's anything special about `Crossspectrum` compared to any of the other classes (e.g. `Ligh

[2019-05-29 21:39] matteobachetti commented on #406
Totally second this. We should throw an error if we specify Poisson errors in Lightcurve, not if we use Lightcurve in Crossspectrum.

Maybe we should also throw an error in Crossspectrum if we ask for the Leahy normalization, because that requires a number of photons that makes no sense if the Lightcurve is not Possonian?

[2019-05-29 21:42] dhuppenkothen commented on #406
But number of counts is really just a proxy for integrated flux. Does Leahy not work if you have integrated flux in different units?

[2019-05-29 21:46] matteobachetti commented on #406
If you change the mean, the integrated flux changes. So I expect the Leahy normalization to be heavily affected by that. And then, the main advantage of the Leahy normalization (a nice chi^2 distribution of noise levels) gets lost.

[2019-05-29 21:49] dhuppenkothen commented on #406
Hmm, it's not clear to me that it does. I guess if we have a light curve  with mean zero, that might be a problem because your integrated flux might also be close to zero.

However, the second part I'm less convinced by. The chi^2 distribution comes from the fact that the Fourier amplitudes follow a normal distribution. This property should still hold if the light curve is not Poissonian.

[2019-05-29 21:55] dhuppenkothen commented on #399
Hi @babi8174! We just merged the change that should fix the absolute RMS normalization. If your students are installing from source (i.e. clone the current master repository, and install with `python setup.py install`) they should be able to use that fix, otherwise we're planning to release a new version soon, at which point it'll be pip-installable.

Thank you for reporting this bug! We appreciat

[2019-05-29 22:31] matteobachetti commented on #406
What I mean is that it will not be a chi squared distribution with 2(M) degrees of freedom, at the very least the mean and detection limits will change. It will not be "the" Leahy normalization.

[2019-05-30 05:13] babi8174 commented on #399
Thanks a lot Daniela!

B.

On Wed, 29 May 2019 at 23:55, Daniela Huppenkothen <notifications@github.com>
wrote:

[2019-05-30 19:37] matteobachetti commented on #399
Fixed in #400

[2019-05-30 19:37] #399 closed

[2019-06-29 16:49] twongCMU opened #416 "Tests fail to start due to missing module"
Hello. I cloned the repo and tried to run the tests:

`python3 setup.py test`

This fails with
`ImportError while loading conftest '/tmp/stingray-test-hc6wpz0t/lib/python3.5/site-packages/stingray/conftest.py'.
stingray/conftest.py:5: in <module>
    from astropy.tests.pytest_plugins import *
E   ImportError: No module named 'astropy.tests.pytest_plugins'`

I believe this is related to [this issue

[2019-06-29 17:14] twongCMU commented on #416
This also happens on Ubuntu 18.04.2 LTS

platform linux -- Python 3.6.7, pytest-4.6.3, py-1.8.0, pluggy-0.12.0

Running tests with Astropy version 3.2.1.
Running tests in stingray docs.

Date: 2019-06-29T13:05:31

Platform: Linux-4.15.0-51-generic-x86_64-with-Ubuntu-18.04-bionic

Executable: /usr/bin/python3

Full Python Version:
3.6.7 (default, Oct 22 2018, 11:32:17)
[GCC 8.2.0]

encodings: sys:

[2019-06-30 05:16] twongCMU commented on #416
I submitted a pull request with this fix so this issue can be closed if that is accepted

[2019-06-30 16:17] matteobachetti commented on #416
Hi @twongCMU , thanks a lot! I took a look at the fixes, I'll try to review properly tonight or tomorrow morning at the latest (Bad connection during the weekend).

[2019-07-09 21:32] paopaofi opened #419 "DynamicPowerspectrum fails with IndexError"
Under some conditions, DynamicalPowerspectrum fails with IndexError. Steps to reproduce

1. Load data sent in private email into lc
2.
[code]

[2019-07-09 23:45] matteobachetti opened #420 "compute_rms docs need update"
In `Powerspectrum`, `compute_rms` returns two numbers (rms, rms error) while the docs say it returns just one number.
(Thanks @paopaofi)

[2019-07-11 03:27] paopaofi opened #421 "function "join_equal_gti_boundaries" not properly implemented"
stingray.gti.join_equal_gti_boundaries can only handle the case where only two adjacent GTIs meet the joining criterion, and it gives wrong output if three or more adjacent GTIs should be joined.

e.g.
input
[code]
output
[code]

here is my implementation:

[code]

[2019-07-21 15:40] swapsha96 commented on #370
@dhuppenkothen Can `zfit` be used for the same?

[repository](https://github.com/zfit/zfit)
[website](https://zfit.github.io/zfit/)

[2019-08-02 01:53] ktzhao opened #424 "error in test_crossspectrum.py"
================================================= FAILURES =================================================
______________________________ TestAveragedCrossspectrum.test_different_tseg _______________________________

self = <stingray.tests.test_crossspectrum.TestAveragedCrossspectrum object at 0x7f095da25908>

    def test_different_tseg(self):
        time2 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,

[2019-08-02 17:46] dhuppenkothen commented on #424
hi @ktzhao! Thank you for reporting this issue! This looks like a typo in the test, where `np.random` was duplicated. I've just made pull request #425, which I'm hoping should fix things.

I'm moderately surprised that this didn't trip Travis/Appveyor. @matteobachetti Any idea what's going on?

[2019-08-02 21:50] dhuppenkothen opened #426 "AveragedCrossspectrum/AveragedPowerspectrum fails with light curve iterable"
... if the Lightcurve objects in the iterable have different lengths.

So I tried to take an observation, split the observation into a number of light curves based on GTIs, and then do an AveragedPowerspectrum on the list of light curves. This failed because of some peculiarity of the internal GTI handling in `AveragedCrossspectrum` and `AveragedPowerspectrum`, which only keeps the *first* of the

[2019-08-04 12:10] matteobachetti commented on #424
Weird indeed

[2019-08-05 11:29] #420 closed

[2019-08-05 11:30] #421 closed

[2019-08-08 20:54] davis191 opened #428 "add cross-correlation functionality to accept CrossSpectrum objects?"
Hi,

Currently, the cross-correlation function only accepts two lightcurve objects. It would help to have the option to have an Average/Crossspectrum object be a potential input as well.

pinging: @abigailStev @swapsha96

[2019-08-09 19:11] swapsha96 commented on #428
Also pinging @dhuppenkothen @matteobachetti

[2019-08-12 19:02] dhuppenkothen opened #429 "Implement `to_lightkurve` and `from_lightkurve` methods"
We should implement methods that allows easy and efficient connection to the [Lightkurve package](https://docs.lightkurve.org). That would allow researchers to load TESS/Kepler data easily and then convert them into a `stingray.Lightcurve` object for data analysis with Stingray classes and methods (which might become more relevant in the future for doing some kind of spectral timing across wavelen

[2019-08-12 19:23] dhuppenkothen commented on #186
Going to close this because our first release has been out for, uh, a while

[2019-08-12 19:23] #186 closed

[2019-08-14 09:40] matteobachetti commented on #428
Thanks @davis191, good suggestion. I don't personally know when I'll have the time to work on this, but if you and/or someone else come out with an implementation I can help adapting it to our code.

[2019-08-14 16:03] swapsha96 commented on #428
Where does one begin to implement it? Any details?

[2019-08-16 12:48] matteobachetti commented on #428
Isn't the cross correlation just the inverse Fourier transform of the cross spectrum? If so, the implementation should be very straightforward. The relevant class is in `stingray/crosscorrelation.py`. We could modify the `__init__` method to allow a cross spectrum object.

[2019-08-16 14:05] davis191 commented on #428
Yeah! It should be fairly simple. I can give it a go this afternoon!

[2019-08-29 02:16] davis191 opened #431 "Install instructions on readthedocs not updated"
I needed to reinstall stingray today via the "Installing from source" and I ran into a little issue. The 'requirements.txt' no longer exists and the instructions seem to be out-of-date on the [readthedocs](https://stingray.readthedocs.io/en/latest/stingray/docs/install.html) page compared to some of the files in the /docs folder.

I was able to get it installed just fine, by moving on in the instr

[2019-08-29 08:02] matteobachetti commented on #431
Oh. Thanks for opening the issue. This needs to be addressed quickly

[2019-09-04 11:16] swapsha96 commented on #431
`requirements.txt` was removed in this [PR](https://github.com/StingraySoftware/stingray/pull/397).

[2019-09-04 18:11] abigailStev commented on #431
I went into stingray/docs/install.rst to update it, and it appears to already be updated in there (line 47) with

instead of

but we still see the secondary two lines in the readthedocs (and that's what Meg ran into)

[2019-10-22 15:57] dhuppenkothen opened #433 "speed up parameter estimation tests"
Those tests need aaaaaages. We should do something about that!

[2019-10-23 15:32] #426 closed

[2019-10-29 14:00] matteobachetti opened #439 "Add notebook about new lightcurve fast machinery"
Explain changes introduced in PR #436 through a notebook

[2019-11-06 22:09] xspector commented on #294
This is now available in pyxspec as xspec.callModelFunction. See https://heasarc.gsfc.nasa.gov/docs/xanadu/xspec/python/html/modlevfunc.html

[2019-11-09 00:36] bwgref commented on #294
@xspector Does that spawn an XSPEC instance behind the scenes to enable this? Or is this pure python?

[2019-11-20 09:27] Richardjmorton opened #442 "Model fitting of lightcurves - passing jacobians/hessians"
Hi.
First, I would like to say stingray is a nice package - great work! I am not in the field of X-rays (solar person) but I am looking at using stingray within my research.

I am exploring the best method (accuracy and speed) to minimise the function I want to fit to my PSDs.

I was wondering whether the PSDParEst allows the passing of jacobians and hessians to the underlying scipy.minimise.optim

[2019-11-21 11:19] matteobachetti commented on #442
Hi @Richardjmorton. Currently, this can be done through a fairly low-level mechanism. Basically, you can run `parest.fit(... , scipy_optimize_options=YOUR_OPTIONS)`. Your options can be anything that `scipy.optimize` accepts, including jacobians and hessians.

[2019-11-21 13:05] Richardjmorton commented on #442
Great! Thanks for the help.

[2019-11-21 17:21] dhuppenkothen commented on #442
@Richardjmorton Thanks for using the code! Please do let us know if you have any feedback on the parameter estimation code (or anything, really). I'm planning to do some rewriting of the backend for the fitting and parameter estimation over the next few months, and any guidance as to what's working for you and especially what isn't working well, or slow, or buggy, would be super helpful in figurin

[2019-11-22 14:44] Richardjmorton commented on #442
@dhuppenkothen Sure thing! If I come across anything then I'll certainly let you know.

[2019-12-13 20:57] lzzyx96txdy opened #446 "AttributeError when import stingray"
The environments I am using are windows10, python3, and jupyter notebook. After installing the stingray by conda, when I tried to import the lib as suggested in the document, some error was given and I have no idea about this issue:

import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
from stingray.events import EventList
from stingray.lightcurve import Lightcurve

---------

[2019-12-13 20:59] #446 closed

[2020-01-02 09:48] matteobachetti opened #448 "LOTS of failures due to new astropy and numpy"
Most of the failures seem to be related to two changes in Astropy and numpy. The first is an API change in `astropy.modeling`, e.g.
[code]

The second is how numpy has become more aware of Astropy units. A fantastic thing in the long run, but a pain right now because it forces a lot of API changes in PINT, that we use for the Pulsar stuff.
https://github.com/nanograv/PINT/issues/550.

[2020-01-03 15:52] mhvk commented on #448
@matteobachetti - sorry for the pain!  I do hope it will all be worth it in the long run...

[2020-01-08 02:43] dhuppenkothen commented on #448
Our modelling interface is due for a major update anyway, so I guess that's a good opportunity to work on that. :)

[2020-01-09 14:00] #448 closed

[2020-01-14 07:42] matteobachetti commented on #433
You did in #438 :) Closing

[2020-01-14 07:42] #433 closed

[2020-01-14 07:44] matteobachetti opened #451 "Optimize Stingray I/O and code execution"
Optimize Stingray I/O and code execution, e.g. reading in light curves in segments, creating light curves and PSDs in segments, parallelizing the generation of PSD segments (and PSDs as a function of energy), ...

[2020-01-15 13:47] Cla2Cla opened #453 "Tests fail in bispectrum"
System information:

Windows
Latest Anaconda
Python v.3.7
Astropy 4.0
Latest master of Stingray

[code]

[2020-01-15 21:03] #354 closed

[2020-01-22 10:26] #106 closed

[2020-01-22 10:26] #355 closed

[2020-02-11 14:51] Richardjmorton opened #455 "emcee update"
Hi,

Maybe you're aware already, but emcee has been updated (v3) and I don't think the calling of the ensemble sampler is the same as it used to be.

I downloaded the latest version of emcee and the code in your modeling api example crashes.

If you're not keen on updating that part of the code (yet), maybe it's worth adding a note to the docs that emcee v2.2.1 is required.

[2020-02-23 22:01] abhijeetmanhas commented on #361
@dhuppenkothen I would like to work on it, I have gone through the paper as well, which class should have methods to use multi-taper algo? Or first I just need to implement it independently and then add to any class?

[2020-03-01 11:34] matteobachetti opened #458 "Update according to APE 17"
We are having many deprecation warnings linked to the package infrastructure based on astropy_helpers. It's time to update the package to the new Astropy infrastructure, which allows to avoid astropy_helpers and ci-helpers, and a *much* simpler syntax in setup.py and setup.cfg

See guidelines here: https://github.com/astropy/astropy-APEs/blob/master/APE17.rst

The easiest is probably to start from

[2020-03-01 22:01] theand9 commented on #451
Hello Sir,

I am Amogh Desai a Second Year(Sophmore) Student pursuing my undergraduate in Computer Science and Engineering from Dwarkadas J. Sanghvi College of Engineering Mumbai, India.

I came across the project "A lightning-fast stingray" on the 'project ideas' page for OpenAstronomy  GSOC 2020. I am interested in doing this project for GSOC 2020 and wish to understand the project idea and its

[2020-03-01 23:17] matteobachetti commented on #451
Hi @theand9, thanks for your interest in our project!
This is about the optimization of the Stingray library, at multiple levels.

The easy part would be finding a few remaining bottlenecks and being able to run some computations in parallel. This is not too difficult to achieve, we started the process already. However, with this GSoC project we want to address another major issue first.

At the m

[2020-03-03 12:11] theand9 commented on #451
Hello @matteobachetti.

Thank you very much for the prompt and detailed reply. I did a bit of self-research on the project topic, taking into account some of the suggestions provided by you in your earlier message.

Firstly, I would like to know more details about the data like its format, size etc. as well as the analysis to be performed on it.

The points I found from my self-research are as fol

[2020-03-05 13:38] theand9 commented on #451
Hello Sir(@matteobachetti),

I am sorry to be very persistent. I understand you are preoccupied but it would be amazing if you could provide feedback on my findings as soon as possible. This would enable me to research on the solution more efficiently and expeditiously.

Thanking you,
Regards,
Amogh Desai.

[2020-03-05 18:47] matteobachetti commented on #451
Hi, I really appreciate your insightful comments and I think they go in the right direction. It's just a crazily busy week and I need some dedicated time to test the code you've sent. Thanks for your patience,

Matteo

[2020-03-05 20:31] theand9 commented on #451
Hello Sir(@matteobachetti),

I am sorry to disturb you. Thank you for taking out the time to reply. I'm overjoyed that my thoughts and research are in the right direction.

Please do take your time to go through the script and provide me with feedback on the same. If you could, please do also provide me with some insights/details of the code at your earliest convenience.

Thanking You,
Yours since

[2020-03-07 13:49] Chaitany1729 commented on #455
Hey Richard,
I went though the issue and I used the sample method in the modelling api example I think the current code is still compatible with the updated emcee(v3). Can you please tell me the specifications of your issue?

[2020-03-07 13:50] Chaitany1729 commented on #455
Hey Richard,
I went though the issue and I used the sample method in the modelling api example I think the current code is still compatible with the updated emcee(v3). Can you please tell me the specifications of your issue?

[2020-03-12 15:23] matteobachetti commented on #451
Hi @theand9. I looked at your script and basically it seems that you are just defining the data types to the smaller precision you need for that specific dataset. Which sounds reasonable, but when we do light curve operations we can be in the situation where a given data type is not sufficient anymore (e.g. summing two light curves). I would like to avoid this back-and-forth between data represent

[2020-03-12 20:09] theand9 commented on #451
Hello Sir(@matteobachetti),

Thank you for taking out the time to go through the script. As I did mention earlier, I do not have a clue relating to the structure and details of the data to be processed. I understand your point but I need to research the same in greater depth.

I will try my best to understand the code for the 'Averaged*spectrum' classes and how they interact with light curves. I h

[2020-03-12 21:26] matteobachetti commented on #451
Hi @theand9.
We have documentation here: https://stingray.readthedocs.io/en/latest/core.html
I think what the code does should be clear enough from those documents.

Documentation is compiled from notebooks that you can execute to try out the code: https://github.com/StingraySoftware/notebooks/

In particular, take a look at the documentation and code of Lightcurve. Then, to the basic periodograms

[2020-03-17 01:50] theand9 commented on #451
Hello Sir(@matteobachetti),

Firstly, I would like to apologize for not responding to your message earlier. I was pre-occupied with a college project. Moreover, I had little or no understanding of the basic terminologies and concepts relating to the Stingray library such as Spectral Timing, Light Curves, Periodograms etc.
I have worked from the ground up to understand all the necessary concepts as

[2020-03-18 16:38] matteobachetti commented on #451
It is primarily used for statistical purposes. In power and cross spectra, it helps decreasing the noise level and find weak signals in the middle of noise.

Our light curve is primarily thought as a "number of photons detected in a series of time intervals". Basically, we _count_ photons. The `time` gives the center of each sampling interval, and `counts` the number of photons.

The Poisson distr

[2020-03-23 09:48] matteobachetti opened #459 "Improve documentation about the basics"
It would be good to write a page in the docs where we talk about the Stingray-agnostic basics: how we observe the sky, what is a light curve, an introduction to periodograms, what are GTIs, etc.

[2020-03-24 16:28] #453 closed

[2020-03-25 08:06] theand9 commented on #369
Hello,

I am Amogh Desai a Second Year(Sophmore) Student pursuing my undergraduate in Computer Science and Engineering from Dwarkadas J. Sanghvi College of Engineering Mumbai, India.

Mr Matteo Bachetti @matteobachetti knows me as I am currently working on the GSoC 2020 project of 'A lightning fast stingray'. Mr Matteo and I have discussed more on it here: https://github.com/StingraySoftware/sting

[2020-04-06 19:32] dhuppenkothen commented on #431
this is fixed in the latest readthedocs build.

[2020-04-06 19:32] #431 closed

[2020-04-07 06:54] matteobachetti opened #462 "Travis CI builds not triggered?"
In the last PRs, it seems that Travis CI was not executed. Need to investigate this

[2020-04-09 13:04] matteolucchini1 opened #463 "Model bounds ignored by interface"
Hi everyone,
I'm having an issue with the modelling interface. I'm modelling the PSD of an X-ray binary trying to identify and subtract the QPOs from the broadband noise, and the issue I'm having is that when fitting the PSD the modelling bounds I'm imposing are neglected by the fit. As a result I get unphysical results and/or poorly constrained parameters (such as negative normalisations of compo

[2020-04-18 08:52] matteobachetti opened #465 "Better treatment of coherence function"
Looking at the original paper, actually, it looks like the coherence function should be calculated in a more complicated way, at least accounting for the different cases of low and high powers.
https://iopscience.iop.org/article/10.1086/310430/pdf

[2020-04-18 12:04] Richardjmorton commented on #455
Sorry for the delay, took me a while to get back to checking this. This is the problem I get when I try running with the new version of EMCEE. I don't think it's to do with the call, as I said first - looks like they're changed the sampler class attributes.

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent

[2020-05-18 07:04] matteobachetti opened #466 "Allow merging event lists from different instruments"
Need to have some `change_mjdref` method in `EventList`, similar to the one in `Lightcurve`.

[2020-05-20 04:16] dhuppenkothen opened #467 "Improve performance of Lightcurve for astropy.time.Time objects"
Right now, it looks like we *can* use `Lightcurve.make_lightcurve` on `astropy.time.Time` objects, but for reasons I don't understand that's vastly slower than sticking in a numpy array. It would be useful to check why that is, and speed up that operation.

[2020-05-26 08:31] #429 closed

[2020-05-30 09:47] matteobachetti opened #470 "Round-trip of save to ascii files not working on new Astropy and numpy"
As per failure here: https://travis-ci.org/github/StingraySoftware/stingray/jobs/692624745

We need to revisit the whole round trip to file infrastructure

[2020-06-02 23:57] dhuppenkothen commented on #470
Is this solved with the new APE17 update?

[2020-06-03 06:51] matteobachetti commented on #470
No, I realized this was a thing thanks to that PR, because it's introduced in the development version of Astropy or numpy. I realized the whole ascii i/o infrastructure is very shaky, saving basically only the times with `numpy.savetxt` and relying on `astropy.Table` to read them. The GSoC project could be a good opportunity to rethink the way we do that, because we will probably have to use memor

[2020-06-03 10:45] #462 closed

[2020-06-03 10:45] matteobachetti commented on #458
Resolved in #469

[2020-06-03 10:45] #458 closed

[2020-06-05 08:21] theand9 commented on #6
@dhuppenkothen I created documentation for the Coding, Contribution, Testing and Community Guidelines.
I took into consideration your answer https://github.com/StingraySoftware/stingray/issues/6#issue-110894029 as well as CONTRIBUTING.md and the Astropy guidelines for the above-mentioned topics.

I was not really sure about the testing and community guidelines but I feel that there must be some ad

[2020-06-05 14:55] JohnPaice opened #471 "GTI Array - 'This GTI has overlaps'"
Hi,

I recently updated to the bleeding edge version of Stingray, and I've encountered the following bug: When using a GTI array with Stingray, it tells me 'ValueError: This GTI has overlaps'.

However, a printout of the GTIs show that they don't, and the exact same GTIs were used with the previous version of Stingray without issue. Is this a misunderstanding of how the GTIs now work?

In order to

[2020-06-05 17:08] dhuppenkothen commented on #471
Hi @JohnPaice, thank you for submitting this issue! I'm going to try to take a look at this today and get back to you ASAP.

[2020-06-05 17:35] dhuppenkothen commented on #471
Okay, I think I figured out the issue: assign `gti_array` to the `Lightcurve` object, rather than the `AveragedPowerspectrum` object, and things should work. The issue is that when you don't assign a GTI during the creation of `Lightcurve`, it automatically creates GTIs bracketing the start and end times of the light curve. the `AveragedPowerspectrum` object will then merge those GTIs with the GTI

[2020-06-08 08:48] matteobachetti commented on #6
Hi @theand9 would you mind opening a PR to propose changes to the various files, so that we can see what you changed and/or added?

[2020-06-08 10:29] JohnPaice commented on #471
Hi @dhuppenkothen - thank you so much for the quick response, and the explanation! I've assigned `gti_array` to the `Lightcurve` object and removed it from `AveragedPowerspectrum`, and it works fine now.

Thanks again!

[2020-06-16 11:30] matteobachetti opened #475 "Avoid deprecated use of collections.Iterable"
[code]

[2020-06-16 20:59] #475 closed

[2020-06-17 07:09] #466 closed

[2020-06-24 00:43] theand9 opened #478 "Join and Truncate fail to inherit the skip_checks attribute value"
Both _join and truncate_ create a new lightcurve at the end of their operation by calling the Lightcurve class.
But they fail to inherit the value of the `skip_checks` attribute.

This behaviour should be changed as it **possibly** forces unnecessary checks on the newly created lightcurve.
The steps to reproduce can be clearly illustrated in the image below.

![image](https://user-images.githubuse

[2020-07-04 18:21] irfnt commented on #459
Sir can you upload the material about Observation of B0329+54 for a new students.

[2020-07-14 03:02] gabrielb09 opened #480 "GTI keyword mismatch in pulse.pulsar.fold_events"
Nearly everything in stingray uses `gti` as the keyword for GTI's however, for [fold_events](https://github.com/StingraySoftware/stingray/blob/cf517f1304485a7b3d0de7187e877da65cdf2bbc/stingray/pulse/pulsar.py#L206), the keyword is `gtis`. This is an issue since [epoch_folding_search](https://github.com/StingraySoftware/stingray/blob/cf517f1304485a7b3d0de7187e877da65cdf2bbc/stingray/pulse/search.py

[2020-07-14 07:44] matteobachetti commented on #480
Hi @gabrielb09, thanks a lot for your report. We'll get to this asap.

[2020-07-23 06:12] theand9 opened #481 "Optimize check_lightcurve"
- **Use:** The function checks if the lightcurve is well-formed
- **Function/'s used in**: Lightcurve.init
- **Problem:** The function takes up 90% of the time when the _skip_checks_ and _dt_ parameters are not initialized.
- **Possible Solution/'s:**
    1. The loop with mask creation can be made extremely more efficient by using _np.searchsorted_ or our own _gti_border_bins_  instead of creating

[2020-07-23 06:24] theand9 opened #482 "Optimize operation_with_other_lc"
- **Use:** Helper method to codify an operation of one light curve with another.
- **Function/'s used in:** Lightcurve.__add__ and Lightcurve.__sub__
- **Problem:** The function is not optimized and takes ~90% of the time.
- **Possible Solution:**
    1. Reworking of the function is required.

Image for the profiling performed.
![image](https://user-images.githubusercontent.com/39396816/88257396-3